<!-- Details -->
<div class="details">
    <div class="detail">
        <h4>Informations article</h4>
        <ul class="browser-default">
            <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
            <li>Ullam fugit sed qui impedit provident consectetur cumque alias accusantium</li>
        </ul>
    </div>

    <div class="detail">
        <h4>Code produit</h4>
        COR-ART-ERT7
    </div>

    <div class="detail">
        <h4>Autres</h4>
        Matière en laine de coton 100%
    </div>
</div>