<div class="ecommerce-bar-drawer" id="drawer1">
    <div class="drawer">
        <div class="close">x</div>
        <div class="title">Collections</div>
        <ul>
            <li class="highlighted"><a href="#!">Sacs</a></li>
            <li class="highlighted"><a href="#!">Promotions</a></li>
            <li class="highlighted"><a href="#!">Nouveautés</a></li>
        </ul>
    </div>
</div>

<div class="ecommerce-bar-drawer" id="drawer2">
    <div class="drawer">
        <div class="close"><span>x</span></div>
        <div>
            <form class="search">
                <div class="search-field">
                    <input type="text" name="search" class="browser-default" id="search" placeholder="Rechercher">
                    <div class="btn-search">
                        <a href="#!"><i class="material-icons">search</i></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>