<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Product version n°2</title>

        <link rel="stylesheet" href="../../mat.css">
        <link rel="stylesheet" href="../../extended_materialize.css">
    </head>

    <body>
        <!-- Nav -->
        <div class="navbar-fixed">
            <nav class="grey darken-4">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="./products.html" class="brand-logo">Shop</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right" id="ecommerce-mobile">
                            <li id="#drawer2"><a><i class="material-icons">search</i></a></li>
                            <li><a href="./cart.html"><i class="material-icons">shopping_cart</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        
        <!-- Main -->
        <main>
            <section class="section" id="cart">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="card-panel"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <script src="../../ecommerce.js"></script>
    </body>
</html>