@import "../../css/fonts.scss";
@import "./variables.scss";

%container {
    margin: 0 auto;
    max-width: 1280px;
    
    @media only screen and (min-width: 301px) {
        width: 100%;
    }
    
    @media only screen and (min-width: 993px) {
        width: 70%;
    }
}

%area_properties {
    background-color: white;
}

%image {
    width: 100%;
    height: auto;
}

.card-link {
    color: inherit;
}

%links {
    color: inherit;
}

@mixin side_images($height) {
    max-width: $height;
    max-height: $height;
}

%cart_icons {
    font-size: 2rem;
}

%product {
    // background-color: #e53935;
    overflow: hidden;

    a {
        @extend %links;
    }
    
    .image {
        position: relative;
        overflow: hidden;
        height: 100%;

        img {
            width: 100%;
            height: auto;
            transition: transform .3s ease-in-out;
            
            @media only screen and (min-width: 993px) {
                &:hover {
                    transform: scale(1.1, 1.1);
                }
            }
        }

        .discount-pct {
            position: absolute;
            color: white;
            top: 0;
            right: 0;
            height: 35px;
            width: 45px;
            padding: .25rem;
            font-weight: 700;
            font-size: .9rem;
            text-align: center;
            line-height: 2;
        }
    }

    .details {
        .price {
            font-weight: 700;

            @media only screen and (min-width: 301px) {
                font-size: 1rem;
            }

            @media only screen and (min-width: 993px) {
                font-size: 1.1rem;
            }
        }
        
        .price-details {
            display: flex;
            justify-content: left;

            .price {
                font-weight: 700;
                font-size: 1.1rem;
            }

            .discounted-price {
                text-decoration: line-through;
                margin-left: .75rem;
                line-height: 1.68;
            }
        }
    }
}


.ecommerce {
    @extend %container;

    p.section-title {
        text-align: center;
        font-weight: 700;
    }

    .product-count {
        color: $dark_grey;
    }
    
    @media only screen and (min-width: 301px) {
        padding-top: 0;
    }
    
    @media only screen and (min-width: 993px) {
        padding-top: 1rem;
    }

    .grid#product {
        display: grid;
        grid-column-gap: 10px;

        @media only screen and (min-width: 301px) {
            grid-template-columns: 100%;
            grid-template-areas: 
            "breadcrumbs"
            "side-images"
            "main-image"
            "information"
            "details"
            "more";
            grid-row-gap: 5px;
            background-color: $primary_grey;
        }
        
        @media only screen and (min-width: 993px) {
            // grid-template-columns: min-content 500px;
            grid-template-columns: min-content;
            grid-template-areas: 
            "breadcrumbs breadcrumbs breadcrumbs"
            "side-images main-image information"
            "details details details"
            "more more more";
            background-color: white;
        }

        .breadcrumbs {
            @extend %area_properties;
            grid-area: breadcrumbs;
            padding: {
                top: 1rem;
                bottom: 1rem;
            }
            font-size: .85rem;

            .breadcrumb {
                color: inherit;

                &:last-child {
                    color: $dark_grey;
                }

                &:before {
                    color: inherit;
                    // display: inherit;
                    line-height: 1.2;
                    font-size: 1.5rem;
                }
            }
        }

        .side-images {
            @extend %area_properties;
            grid-area: side-images;

            @media only screen and (min-width: 301px) {
                min-height: 380px;
            }

            img {
                @media only screen and (min-width: 301px) {
                    // position: absolute;
                    max-width: 100%;
                    height: auto;
                }
                
                @media only screen and (min-width: 993px) {
                    display: flex;
                    flex-direction: row;
                    @include side_images(80px);

                    &:hover {
                        opacity: .7;
                    }

                    &:not(:first-child) {
                        margin-top: .25rem;
                    }
                
                    cursor: pointer;
                }


            }
        }
        
        .main-image {
            @extend %area_properties;

            grid-area: main-image;
            // grid-template-rows: minmax(100px, 400px);
            // grid-template-columns: minmax(100px, 400px);

            .image {
                overflow: hidden;
                
                @media only screen and (min-width: 301px) {
                    max-height: auto;
                    max-width: 100%;                    
                }
                
                @media only screen and (min-width: 993px) {
                    max-height: 400px;
                    max-width: 400px;                                        
                }
            }
            
            img {
                @extend %image;
            }
        }
        
        .information {
            @extend %area_properties;

            grid-area: information;
            padding:  0 .45rem;

            h4 {
                font-weight: 300;
                font-size: 2rem;
                margin: 0 0 .25rem 0;
            }

            .infos {
                display: flex;
                flex-direction: row;
                
                .price {
                    font-weight: 700;
                    font-size: 1.75rem;
                }

                .discounted-price {
                    line-height: 3;
                    margin-left: .75rem;
                    text-decoration: line-through;
                }
            }

            .other-details {
                .color > span, .size > span {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: .85rem;
                }

                @media only screen and (min-width: 301px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;

                    div:last-child {
                        margin-left: .75rem;
                    }
                }
                
                @media only screen and (min-width: 993px) {
                    display: block;

                    div:last-child {
                        margin-left: 0;
                    }
                }
            }

            #btn_add_to_cart {
                @media only screen and (min-width: 301px) {
                    margin: 2.5rem 0 2.5rem 0;
                }
                
                @media only screen and (min-width: 993px) {
                    margin: 2.5rem 0 0 0;
                }
            }
        }

        .details {
            @extend %area_properties;

            grid-area: details;

            display: flex;
            padding: 1rem;

            @media only screen and (min-width: 301px) {
                flex-direction: column;
                justify-content: left;
            }
            
            @media only screen and (min-width: 993px) {
                flex-direction: row;
                justify-content: space-around;
            }

            .detail {
                &> p {
                    text-transform: uppercase;
                    font-weight: 700;
                    color: $dark_grey;
                    margin-top: 1rem;
                }
            }
        }

        .more {
            @extend %area_properties;

            grid-area: more;
            
            h4 {
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                margin: 2.75rem 0 2.75rem 0;
            }

            a {
                @extend %links;
            }

            @media only screen and (min-width: 301px) {
                h4 {
                    font-size: 1.5rem;
                }
            }
            
            @media only screen and (min-width: 993px) {
                h4 {
                    font-size: 1.5rem;
                }                
            }

            .images {
                display: flex;
                
                @media only screen and (min-width: 301px) {
                    flex-direction: column;
                    justify-content: center;
                    
                    .image {
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: column;

                        .price {
                            font-weight: 700;
                        }
                    }
                }
                
                @media only screen and (min-width: 993px) {
                    flex-direction: row;
                    justify-content: center;
                    
                    .image {
                        overflow: hidden;
                        &:not(:first-child) {
                            margin: 0 0 0 .25rem;
                        }
                        
                        img {
                            max-width: 200px;
                            max-height: 200px;
                        }
                    }
                }
            }
        }
    }

    .grid#products {
        display: grid;
        
        @media only screen and (min-width: 301px) {
            grid-template-columns: repeat(2, minmax(80px, 1fr));
            grid-gap: 4px;
        }

        @media only screen and (min-width: 993px) {
            grid-template-columns: repeat(3, minmax(200px, 1fr));
            grid-gap: 15px;
        }
        
        .product {
            @extend %product
        }
    }

    .grid.recommendation#products {
        display: grid;
        padding: 0 .25rem 0 .25rem;
        
        @media only screen and (min-width: 301px) {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 4px;
        }

        @media only screen and (min-width: 993px) {
            grid-template-columns: repeat(4, minmax(200px, 1fr));
            grid-gap: 15px;
        }

        .product {
            @extend %product;
        }
    }
}

.promotion-banner {
    position: relative;
    top: 0;
    height: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 2rem;
    background-color: $highlight_color;

    &.smaller {
        padding: .75rem;
        font-size: 1rem;
        color: white;
    }
    
    a {
        @extend %links;
        
        .big-title {
            margin-bottom: .35rem;
        }
        
        .presentation {
            font-style: italic;
            text-transform: uppercase;
        }

        .legal {
            font-size: .75rem;
            padding: .25rem;
            font-weight: 400;
        }
    }
}

.page-footer, .minimalist-footer {
    margin-top: 4rem;
}

.section#grids, div#grids {
    .ecommerce {
        @media only screen and (min-width: 301px) {
            &:not(:first-child) {
                margin-top: 0;
            }
        }
        
        @media only screen and (min-width: 993px) {
            &:not(:first-child) {
                margin-top: 3rem;
            }
        }

        .collection-landing-page {
            display: grid;
            grid-gap: 10px;

            &:not(:first-child) {
                margin-top: 2rem;
            }

            &.two {
                @media only screen and (min-width: 301px) {
                    grid-template-rows: repeat(2, 1fr);
                    grid-template-rows: 400px;            
                }
                
                @media only screen and (min-width: 993px) {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: 400px;
                }

                .item {
                    background-color: aqua;
                }
            }

            &.five {
                @media only screen and (min-width: 301px) {
                    grid-template-rows: repeat(3, 1fr);
                    grid-template-rows: 200px;
                    grid-auto-rows: 100px;
                }
                
                @media only screen and (min-width: 993px) {
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: 200px;
                    grid-auto-rows: 100px;                
                }
                
                .item {
                    background-color: aqua;

                    &.bigger {
                        grid-row-start: 1;
                        grid-row-end: 3;
                    }
                }
            }
        }
    }
}

.section {
    &#cart_success {
        i {
            @extend %cart_icons;
            font-size: 4rem;
        }

        p {
            margin: {
                top: 2.2rem;
                bottom: 2.2rem;
            }
        }

        #order-reference {
            font-weight: 700;
            color: rgba($color: #000000, $alpha: .85);
        }
    }

    &#cart_empty {
        i {
            @extend %cart_icons;
        }

        .message {
            text-transform: uppercase;
            font-size: 1.1rem;
            font-weight: 700;
            color: rgba($color: #000000, $alpha: .85);
            margin: 2.2rem 0 2.2rem 0;
        }
    }
}