@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
html {
  font-family: "Lato", "Poppins", "Monserrat", "Raleway", "Ubuntu", sans-serif;
}

html p, html a, html li, html span,
html .content-text, html .content-tags .chip,
html .hover-cover {
  font-family: "Lato", "Raleway", "Roboto", sans-serif;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #888;
}

.ecommerce {
  margin: 0 auto;
  max-width: 1280px;
}

@media only screen and (min-width: 301px) {
  .ecommerce {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce {
    width: 70%;
  }
}

.ecommerce .grid#product .breadcrumbs, .ecommerce .grid#product .side-images, .ecommerce .grid#product .main-image, .ecommerce .grid#product .information, .ecommerce .grid#product .details, .ecommerce .grid#product .more {
  background-color: white;
}

.ecommerce .grid#product .main-image img {
  width: 100%;
  height: auto;
}

.card-link {
  color: inherit;
}

.ecommerce .grid#products .product a, .ecommerce .grid.recommendation#products .product a, .ecommerce .grid#product .more a, .promotion-banner a {
  color: inherit;
}

.section#cart_success i, .section#cart_empty i {
  font-size: 2rem;
}

.ecommerce .grid#products .product, .ecommerce .grid.recommendation#products .product {
  overflow: hidden;
}

.ecommerce .grid#products .product .image {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.ecommerce .grid#products .product .image img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .image img:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

.ecommerce .grid#products .product .image .discount-pct {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  height: 35px;
  width: 45px;
  padding: .25rem;
  font-weight: 700;
  font-size: .9rem;
  text-align: center;
  line-height: 2;
}

.ecommerce .grid#products .product .details .price {
  font-weight: 700;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products .product .details .price {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .details .price {
    font-size: 1.1rem;
  }
}

.ecommerce .grid#products .product .details .price-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.ecommerce .grid#products .product .details .price-details .price {
  font-weight: 700;
  font-size: 1.1rem;
}

.ecommerce .grid#products .product .details .price-details .discounted-price {
  text-decoration: line-through;
  margin-left: .75rem;
  line-height: 1.68;
}

.ecommerce p.section-title {
  text-align: center;
  font-weight: 700;
}

.ecommerce .product-count {
  color: #c7c7c7;
}

@media only screen and (min-width: 301px) {
  .ecommerce {
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce {
    padding-top: 1rem;
  }
}

.ecommerce .grid#product {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "breadcrumbs" "side-images" "main-image" "information" "details" "more";
    grid-row-gap: 5px;
    background-color: #fafafa;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product {
    -ms-grid-columns: min-content;
        grid-template-columns: -webkit-min-content;
        grid-template-columns: min-content;
        grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs" "side-images main-image information" "details details details" "more more more";
    background-color: white;
  }
}

.ecommerce .grid#product .breadcrumbs {
  grid-area: breadcrumbs;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .85rem;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb {
  color: inherit;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb:last-child {
  color: #c7c7c7;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb:before {
  color: inherit;
  line-height: 1.2;
  font-size: 1.5rem;
}

.ecommerce .grid#product .side-images {
  grid-area: side-images;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .side-images {
    min-height: 380px;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .side-images img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .side-images img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
  }
  .ecommerce .grid#product .side-images img:hover {
    opacity: .7;
  }
  .ecommerce .grid#product .side-images img:not(:first-child) {
    margin-top: .25rem;
  }
}

.ecommerce .grid#product .main-image {
  grid-area: main-image;
}

.ecommerce .grid#product .main-image .image {
  overflow: hidden;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .main-image .image {
    max-height: auto;
    max-width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .main-image .image {
    max-height: 400px;
    max-width: 400px;
  }
}

.ecommerce .grid#product .information {
  grid-area: information;
  padding: 0 .45rem;
}

.ecommerce .grid#product .information h4 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.ecommerce .grid#product .information .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ecommerce .grid#product .information .infos .price {
  font-weight: 700;
  font-size: 1.75rem;
}

.ecommerce .grid#product .information .infos .discounted-price {
  line-height: 3;
  margin-left: .75rem;
  text-decoration: line-through;
}

.ecommerce .grid#product .information .other-details .color > span, .ecommerce .grid#product .information .other-details .size > span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .85rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .information .other-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .ecommerce .grid#product .information .other-details div:last-child {
    margin-left: .75rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .information .other-details {
    display: block;
  }
  .ecommerce .grid#product .information .other-details div:last-child {
    margin-left: 0;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .information #btn_add_to_cart {
    margin: 2.5rem 0 2.5rem 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .information #btn_add_to_cart {
    margin: 2.5rem 0 0 0;
  }
}

.ecommerce .grid#product .details {
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.ecommerce .grid#product .details .detail > p {
  text-transform: uppercase;
  font-weight: 700;
  color: #c7c7c7;
  margin-top: 1rem;
}

.ecommerce .grid#product .more {
  grid-area: more;
}

.ecommerce .grid#product .more h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2.75rem 0 2.75rem 0;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .more h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .more h4 {
    font-size: 1.5rem;
  }
}

.ecommerce .grid#product .more .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .more .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .grid#product .more .images .image {
    overflow: hidden;
  }
  .ecommerce .grid#product .more .images .image img {
    width: 100%;
    height: auto;
  }
  .ecommerce .grid#product .more .images .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ecommerce .grid#product .more .images .details .price {
    font-weight: 700;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .more .images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .grid#product .more .images .image {
    overflow: hidden;
  }
  .ecommerce .grid#product .more .images .image:not(:first-child) {
    margin: 0 0 0 .25rem;
  }
  .ecommerce .grid#product .more .images .image img {
    max-width: 200px;
    max-height: 200px;
  }
}

.ecommerce .grid#products {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products {
    -ms-grid-columns: (minmax(80px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(80px, 1fr));
    grid-gap: 4px;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 15px;
  }
}

.ecommerce .grid.recommendation#products {
  display: -ms-grid;
  display: grid;
  padding: 0 .25rem 0 .25rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid.recommendation#products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid.recommendation#products {
    -ms-grid-columns: (minmax(200px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 15px;
  }
}

.promotion-banner {
  position: relative;
  top: 0;
  height: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 2rem;
  background-color: #E53935;
}

.promotion-banner.smaller {
  padding: .75rem;
  font-size: 1rem;
  color: white;
}

.promotion-banner a .big-title {
  margin-bottom: .35rem;
}

.promotion-banner a .presentation {
  font-style: italic;
  text-transform: uppercase;
}

.promotion-banner a .legal {
  font-size: .75rem;
  padding: .25rem;
  font-weight: 400;
}

.page-footer, .minimalist-footer {
  margin-top: 4rem;
}

@media only screen and (min-width: 301px) {
  .section#grids .ecommerce:not(:first-child), div#grids .ecommerce:not(:first-child) {
    margin-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .section#grids .ecommerce:not(:first-child), div#grids .ecommerce:not(:first-child) {
    margin-top: 3rem;
  }
}

.section#grids .ecommerce .collection-landing-page, div#grids .ecommerce .collection-landing-page {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
}

.section#grids .ecommerce .collection-landing-page:not(:first-child), div#grids .ecommerce .collection-landing-page:not(:first-child) {
  margin-top: 2rem;
}

@media only screen and (min-width: 301px) {
  .section#grids .ecommerce .collection-landing-page.two, div#grids .ecommerce .collection-landing-page.two {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -ms-grid-rows: 400px;
        grid-template-rows: 400px;
  }
}

@media only screen and (min-width: 993px) {
  .section#grids .ecommerce .collection-landing-page.two, div#grids .ecommerce .collection-landing-page.two {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 400px;
        grid-template-rows: 400px;
  }
}

.section#grids .ecommerce .collection-landing-page.two .item, div#grids .ecommerce .collection-landing-page.two .item {
  background-color: aqua;
}

@media only screen and (min-width: 301px) {
  .section#grids .ecommerce .collection-landing-page.five, div#grids .ecommerce .collection-landing-page.five {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    grid-auto-rows: 100px;
  }
}

@media only screen and (min-width: 993px) {
  .section#grids .ecommerce .collection-landing-page.five, div#grids .ecommerce .collection-landing-page.five {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 200px;
        grid-template-rows: 200px;
    grid-auto-rows: 100px;
  }
}

.section#grids .ecommerce .collection-landing-page.five .item, div#grids .ecommerce .collection-landing-page.five .item {
  background-color: aqua;
}

.section#grids .ecommerce .collection-landing-page.five .item.bigger, div#grids .ecommerce .collection-landing-page.five .item.bigger {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.section#cart_success i {
  font-size: 4rem;
}

.section#cart_success p {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.section#cart_success #order-reference {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.section#cart_empty .message {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin: 2.2rem 0 2.2rem 0;
}
/*# sourceMappingURL=ecommerce_grid.css.map */