pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #888;
}

.ecommerce-bar ul, .ecommerce-bar.for-mobile ul {
  overflow: hidden;
  margin: 0;
}

nav .brand-logo {
  text-transform: uppercase;
  font-size: 20px;
}

.ecommerce-bar {
  background-color: #484848;
  z-index: -999;
  min-height: 46px;
}

.ecommerce-bar.transparent-on-scroll {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.ecommerce-bar ul li {
  float: left;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.ecommerce-bar ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ecommerce-bar ul li.best-offers {
  background-color: #E53935;
}

.ecommerce-bar ul li.best-offers:hover {
  background-color: rgba(229, 57, 53, 0.5);
}

.ecommerce-bar ul li a {
  display: block;
  color: white;
  padding: 24px;
}

.ecommerce-bar.for-mobile ul li {
  float: right;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.ecommerce-bar.for-mobile ul li a {
  display: block;
  color: white;
  padding: 10px;
}

.ecommerce-bar.for-mobile ul li i.material-icons {
  line-height: 1;
}

.ecommerce-bar-drawer {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
  width: 310px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.ecommerce-bar-drawer .drawer {
  width: 100%;
}

.ecommerce-bar-drawer .drawer .title {
  display: block;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

.ecommerce-bar-drawer .drawer .title * {
  margin: 0;
}

.ecommerce-bar-drawer .drawer ul {
  margin-top: 0;
}

.ecommerce-bar-drawer .drawer ul li {
  font-size: 16px;
  padding: 0 1rem 0 1rem;
}

.ecommerce-bar-drawer .drawer ul li.highlighted {
  margin-bottom: 1rem;
  vertical-align: middle;
}

.ecommerce-bar-drawer .drawer ul li.highlighted:last-child {
  margin-bottom: 0rem;
}

.ecommerce-bar-drawer .drawer ul li.highlighted a {
  text-transform: uppercase;
  font-weight: 500;
  padding: .75rem;
  background-color: #eee;
}

.ecommerce-bar-drawer .drawer ul li a, .ecommerce-bar-drawer .drawer ul li button {
  display: block;
  width: 100%;
  height: 50px;
  text-rendering: auto;
  color: inherit;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-align: left;
  padding: 0;
}

.ecommerce-bar-drawer .drawer form.search {
  padding: 1rem;
}

.ecommerce-bar-drawer .drawer form.search .search-field {
  position: relative;
}

.ecommerce-bar-drawer .drawer form.search .search-field input {
  width: 100%;
  padding: .75rem;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.ecommerce-bar-drawer .drawer form.search .search-field .btn-search {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #484848;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
  width: 39px;
  height: 39px;
  line-height: 40px;
  padding: 0;
  border-radius: 50%;
  vertical-align: middle;
}

.ecommerce-bar-drawer .drawer form.search .search-field .btn-search a {
  display: block;
  color: inherit;
  text-align: center;
}

.ecommerce-bar-drawer .drawer form.search .search-field .btn-search a i.material-icons {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 40px;
  margin: 0 auto;
}

.ecommerce-bar-drawer .drawer .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-row-gap: 1rem;
}

.ecommerce-bar-drawer .drawer .wrapper * {
  padding: .25rem;
}

.ecommerce-bar-drawer .drawer .wrapper .close {
  font-size: 38px;
}

.ecommerce-bar-drawer .drawer .wrapper .search {
  display: block;
}

.ecommerce-bar-drawer .drawer .wrapper .search input {
  width: 90%;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-bottom: .75rem;
}
/*# sourceMappingURL=ecommerce_bar.css.map */