@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
html {
  font-family: "Lato", "Poppins", "Monserrat", "Raleway", "Ubuntu", sans-serif;
}

html p, html a, html li, html span, html input,
html .content-text, html .content-tags .chip,
html .hover-cover {
  font-family: "Lato", "Raleway", "Roboto", sans-serif;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #888;
}

.ecommerce, .section.latest-products {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.ecommerce .grid#products .product a, .section.latest-products .grid#products .product a, .ecommerce .more a, .section.latest-products .more a, .promotion-banner a {
  color: inherit;
}

nav.white * {
  color: black;
}

.ecommerce, .section.latest-products {
  margin: 0 auto;
  max-width: 1280px;
}

@media only screen and (min-width: 301px) {
  .ecommerce, .section.latest-products {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce, .section.latest-products {
    width: 90%;
  }
}

.ecommerce .breadcrumbs, .section.latest-products .breadcrumbs, .ecommerce .side-images, .section.latest-products .side-images, .ecommerce .main-image, .section.latest-products .main-image, .ecommerce .information, .section.latest-products .information, .ecommerce .details, .section.latest-products .details, .ecommerce .more, .section.latest-products .more {
  background-color: white;
}

.card-link {
  color: inherit;
}

.ecommerce .grid#products .product a, .section.latest-products .grid#products .product a, .ecommerce .more a, .section.latest-products .more a, .promotion-banner a {
  color: inherit;
}

.section#cart_success i, .section#cart_empty i {
  font-size: 2rem;
}

.ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
  font-weight: 700;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
    font-size: 1.1rem;
  }
}

.ecommerce .grid#products .product .details .price-details .discounted-price, .section.latest-products .grid#products .product .details .price-details .discounted-price {
  text-decoration: line-through;
}

.ecommerce .grid#products .product, .section.latest-products .grid#products .product {
  overflow: hidden;
}

.ecommerce .grid#products .product .image, .section.latest-products .grid#products .product .image {
  position: relative;
  overflow: hidden;
}

.ecommerce .grid#products .product .image img, .section.latest-products .grid#products .product .image img {
  width: 100%;
  height: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .image img:hover, .section.latest-products .grid#products .product .image img:hover {
    opacity: .7;
  }
}

.ecommerce .grid#products .product .image .discount-pct, .section.latest-products .grid#products .product .image .discount-pct {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  height: 35px;
  width: 45px;
  padding: .25rem;
  font-weight: 700;
  font-size: .9rem;
  text-align: center;
  line-height: 2;
}

.ecommerce .grid#products .product .image .banner, .section.latest-products .grid#products .product .image .banner {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: 100%;
  background-color: #eee;
}

.ecommerce .grid#products .product .details .price-details .discounted-price, .section.latest-products .grid#products .product .details .price-details .discounted-price {
  margin-left: .75rem;
  line-height: 1.66;
}

.ecommerce .grid#products .product .details .price-details.with-discount, .section.latest-products .grid#products .product .details .price-details.with-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.ecommerce p.section-title, .section.latest-products p.section-title {
  text-align: center;
  font-weight: 700;
}

.ecommerce .product-count, .section.latest-products .product-count {
  color: #c7c7c7;
}

@media only screen and (min-width: 301px) {
  .ecommerce, .section.latest-products {
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce, .section.latest-products {
    padding-top: 1rem;
  }
}

.ecommerce .grid#product, .section.latest-products .grid#product {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product, .section.latest-products .grid#product {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "breadcrumbs" "side-images" "information" "details" "more";
    grid-row-gap: 5px;
    background-color: #fafafa;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product, .section.latest-products .grid#product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "side-images main-image main-image main-image information" "details details details details details" "more more more more more";
    background-color: white;
  }
}

.ecommerce .breadcrumbs, .section.latest-products .breadcrumbs {
  grid-area: breadcrumbs;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .85rem;
  padding: 1rem .45rem;
}

.ecommerce .breadcrumbs .breadcrumb, .section.latest-products .breadcrumbs .breadcrumb {
  color: inherit;
  font-size: 15px;
}

.ecommerce .breadcrumbs .breadcrumb:last-child, .section.latest-products .breadcrumbs .breadcrumb:last-child {
  color: #c7c7c7;
}

.ecommerce .breadcrumbs .breadcrumb:before, .section.latest-products .breadcrumbs .breadcrumb:before {
  color: inherit;
  line-height: 1.2;
  font-size: 1.5rem;
}

.ecommerce .side-images, .section.latest-products .side-images {
  grid-area: side-images;
}

@media only screen and (min-width: 301px) {
  .ecommerce .side-images, .section.latest-products .side-images {
    min-height: 380px;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .side-images img, .section.latest-products .side-images img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .side-images img, .section.latest-products .side-images img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
  }
  .ecommerce .side-images img:hover, .section.latest-products .side-images img:hover {
    opacity: .7;
  }
  .ecommerce .side-images img:not(:first-child), .section.latest-products .side-images img:not(:first-child) {
    margin-top: .25rem;
  }
}

.ecommerce .main-image, .section.latest-products .main-image {
  grid-area: main-image;
}

.ecommerce .main-image .image, .section.latest-products .main-image .image {
  overflow: hidden;
}

@media only screen and (min-width: 301px) {
  .ecommerce .main-image .image, .section.latest-products .main-image .image {
    max-height: auto;
    max-width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .main-image .image, .section.latest-products .main-image .image {
    width: 600px;
  }
}

.ecommerce .main-image img, .section.latest-products .main-image img {
  width: 100%;
  height: auto;
}

.ecommerce .information, .section.latest-products .information {
  grid-area: information;
  padding: 0 .45rem;
}

.ecommerce .information h4, .section.latest-products .information h4 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.ecommerce .information .infos, .section.latest-products .information .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ecommerce .information .infos .price, .section.latest-products .information .infos .price {
  font-weight: 700;
  font-size: 1.75rem;
}

.ecommerce .information .infos .discounted-price, .section.latest-products .information .infos .discounted-price {
  line-height: 3;
  margin-left: .75rem;
  text-decoration: line-through;
}

.ecommerce .information .other-details .color > span, .ecommerce .information .other-details .size > span, .section.latest-products .information .other-details .color > span, .section.latest-products .information .other-details .size > span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .85rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .information .other-details, .section.latest-products .information .other-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .ecommerce .information .other-details div:last-child, .section.latest-products .information .other-details div:last-child {
    margin-left: .75rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .information .other-details, .section.latest-products .information .other-details {
    display: block;
  }
  .ecommerce .information .other-details div:last-child, .section.latest-products .information .other-details div:last-child {
    margin-left: 0;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .information #btn_add_to_cart, .section.latest-products .information #btn_add_to_cart {
    margin: 2.5rem 0 2.5rem 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .information #btn_add_to_cart, .section.latest-products .information #btn_add_to_cart {
    margin: 2.5rem 0 0 0;
  }
}

.ecommerce .details, .section.latest-products .details {
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .details, .section.latest-products .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .details, .section.latest-products .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.ecommerce .details .detail > p, .section.latest-products .details .detail > p {
  text-transform: uppercase;
  font-weight: 700;
  color: #c7c7c7;
  margin-top: 1rem;
}

.ecommerce .more, .section.latest-products .more {
  grid-area: more;
}

.ecommerce .more h4, .section.latest-products .more h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2.75rem 0 2.75rem 0;
}

@media only screen and (min-width: 301px) {
  .ecommerce .more h4, .section.latest-products .more h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .more h4, .section.latest-products .more h4 {
    font-size: 1.5rem;
  }
}

.ecommerce .more .images, .section.latest-products .more .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 301px) {
  .ecommerce .more .images, .section.latest-products .more .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .more .images .image, .section.latest-products .more .images .image {
    overflow: hidden;
  }
  .ecommerce .more .images .image img, .section.latest-products .more .images .image img {
    width: 100%;
    height: auto;
  }
  .ecommerce .more .images .details, .section.latest-products .more .images .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ecommerce .more .images .details .price, .section.latest-products .more .images .details .price {
    font-weight: 700;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .more .images, .section.latest-products .more .images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .more .images .image, .section.latest-products .more .images .image {
    overflow: hidden;
  }
  .ecommerce .more .images .image:not(:first-child), .section.latest-products .more .images .image:not(:first-child) {
    margin: 0 0 0 .25rem;
  }
  .ecommerce .more .images .image img, .section.latest-products .more .images .image img {
    max-width: 200px;
    max-height: 200px;
  }
}

.ecommerce .grid#products, .section.latest-products .grid#products {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products, .section.latest-products .grid#products {
    -ms-grid-columns: (minmax(80px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(80px, 1fr));
    grid-gap: 4px;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products, .section.latest-products .grid#products {
    -ms-grid-columns: (minmax(200px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 15px;
  }
}

.promotion-banner {
  position: relative;
  top: 0;
  height: auto;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding: 2rem;
  background-color: #E53935;
}

.promotion-banner.smaller {
  padding: .75rem;
  font-size: 1rem;
  color: white;
}

.promotion-banner a .big-title {
  margin-bottom: .35rem;
}

.promotion-banner a .presentation {
  font-style: italic;
  text-transform: uppercase;
}

.promotion-banner a .legal {
  font-size: .75rem;
  padding: .25rem;
  font-weight: 400;
}

.page-footer, .minimalist-footer {
  margin-top: 4rem;
}

.section#cart .cart_product {
  margin: 0;
  padding: 1rem;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section#cart .cart_product:not(:first-child) {
  border-top: none;
}

.section#cart .cart_product button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.section#cart .details {
  padding: 1rem;
}

.section#cart .details p {
  margin: 0;
}

.section#cart .details p.delivery {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.section#cart .details p.total {
  padding-top: 1rem;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.section#cart_success i {
  font-size: 4rem;
}

.section#cart_success p {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.section#cart_success #order-reference {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.section#cart_empty .message {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin: 2.2rem 0 2.2rem 0;
}
/*# sourceMappingURL=ecommerce_grid.css.map */