$blue: #1565c0;
$padding_top: 12.5%;
$font_weight: 600;
$lead_font_weight: 600;

@mixin hero_grid_calculator($multiple) {
    // Calculates the top padding
    // for the lead titles.
    // Increments by 12.5%
    $base_grid: 100;
    $section: $base_grid / 8;
    padding-top: $section * $multiple;
}

@mixin grid_template_columns($n, $fr) {
    grid-template-columns: repeat($n, $fr);
}

// %hero {
//     background-color: $blue;
//     height: 100vh !important;
//     text-align: center;
//     color: white;
// }

@mixin hero($height) {
    height: $height;
    text-align: center;
    color: white;
}

%container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

%hero-wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

%call-to-action {
    margin: {
        left: auto;
        right: auto;
        bottom: 20px;
    }
    padding-top: $padding_top;
}

%lead {
    display: block;
    font: {
        size: 4rem;
        weight: 400;
    }
    margin-bottom: 1.250rem;
}

div, section {
    &.hero {
        position: relative;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &.responsivity {
            @media only screen and (min-width: 301px) {
                background-position-y: -50px;
            }
            
            @media only screen and (min-width: 993px) {
                background-position-y: -250px;
            }
        }
        
        @media only screen and (min-width: 301px) {
            @include hero(50vh);
        }
        
        @media only screen and (min-width: 993px) {
            @include hero(100vh);
        }

        .hero-wrapper {
            @extend %hero-wrapper;

            .call-to-action {
                @extend %call-to-action;

                @media only screen and (min-width: 300px) {
                    text-align: left;
                    padding-top: 25%;
                }

                @media only screen and (min-width: 601px) {
                    text-align: center;
                    padding-top: 12.5%;
                }

                @each $tag in lead, lead-stronger {
                    div.#{$tag} {
                        @extend %lead;

                        @if $tag == "lead-stronger" {
                            font-weight: 600;
                        }

                        @media only screen and (min-width: 300px) {
                            font-size: 2rem;
                        }

                        @media only screen and (min-width: 601px) {
                            font-size: 4rem;
                        }

                        &.upper {
                            text-transform: uppercase;
                        }
                    }
                }

                div.lead-subtitle {
                    font: {
                        size: 2rem;
                        weight: $font_weight / 2;
                    }

                    margin: {
                        top: 0.5rem;
                        bottom: 2.75rem;
                    }

                    @media only screen and (min-width: 300px) {
                        font-size: 1.305rem;
                    }

                    @media only screen and (min-width: 601px) {
                        font-size: 2rem;
                    }
                }

                div.lead-button {
                    display: block;
                    text-align: center;
                    margin-top: 10px;
                }
            }

            .with-input {
                display: flex;
                
                // @media only screen and (min-width: 301px) {
                //     flex-direction: column;
                //     // justify-content: left;
                // }
                
                @media only screen and (min-width: 993px) {
                    flex-direction: row;
                    justify-content: center;
                }
                
                margin: {
                    top: .85rem;
                }

                .btn, .btn-large {
                    margin: 0;
                }

                input {
                    // @media only screen and (min-width: 301px) {
                    //     width: 90%;
                    //     margin: {
                    //         bottom: .85rem;
                    //     }
                    // }
                    
                    // @media only screen and (min-width: 993px) {
                    //     width: max($numbers: 400px);
                    // }

                    height: 53px;
                    width: 30%;
                    border: none;
                    border-radius: 2px;
                    padding: .35rem;
                    margin: {
                        right: .75rem;
                    }
                }
            }
        }

        .background-img-wrapper {
            // A special wrapper for utilizing a background
            // image -; great for including filters like blur...
            // background-image: url(hero1.jpg);
            position: absolute;
            height: 100vh;
            min-width: 100%;
            z-index: -9999;
            filter: blur(1px);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    // BENEFITS
    &.benefits {
        width: 100%;

        &.contain {
            // margin: 0 auto;
            // max-width: 1280px;
            // width: 90%;
            @extend %container;

            @media only screen and (min-width: 301px) {
                width: 85%;
            }

            @media only screen and (min-width: 993px) {
                width: 75%;
            }
        }

        .benefit {
            padding: 65px 0 65px 0;
            margin-bottom: 0;

            &:first-child {
                padding-top: 0;
            }

            .row {
                margin-top: 20px;
            }

            @for $title from 1 to 5 {
                h#{$title} {
                    font: {
                        size: 2.28rem;
                        weight: 700;
                    }

                    margin-bottom: 2rem;

                    > span.lighten {
                        font-weight: 400;
                    }
                }
            }

            @media only screen and (min-width: 300px) {
                padding-top: 0;
            }

            @media only screen and (min-width: 601px) {
                padding-top: 65px;
            }
        }

        .separator {
            padding: 65px 0 65px 0;
            background-color: #eeeeee;

            .row {
                margin-top: 0;
            }
            
            @media only screen and (min-width: 300px) {
                padding-top: 0px;
            }

            @media only screen and (min-width: 601px) {
                padding-top: 65px;
            }                
        }
        
        .separator-with-image {
            overflow:hidden;
            height:375px;
            width:100%;
            background-color:grey;
            text-align: center;
            color: white;

            .seperator-content {
                z-index: 999;
                position: absolute;
                width: inherit;
                
                a {
                    color: white;
                }
            }

            .seperator-img {
                position:relative;
                top:0;
                right:0;
                left:0;
                background: {
                    image: url('./images/fashion_1.jpeg');
                    position: center;
                }
                height: 100%;
                width: auto;
            }
        }

        .call-to-action {
            text-align: center;
        }

        // Tiles
        // &.image-tiles {
        //     padding: {
        //         top: 16px;
        //         bottom: 16px;
        //     }

        //     display: grid;

        //     grid: {
        //         template-columns: repeat(2, 1fr);
        //         gap: .275em;
        //         auto-rows: 300px;
        //     }

        //     @media only screen and (min-width: 300px) {
        //         grid-template-columns: repeat(1, 1fr);
        //     }

        //     @media only screen and (min-width: 601px) {
        //         grid-template-columns: repeat(2, 1fr);
        //     }

        //     .image-tile {
        //         background-color: inherit;
        //         overflow: hidden;

        //         // @media only screen and (min-width: 601px) {
        //         //     &.full {
        //         //         grid-column-start: 1;
        //         //         grid-column-end: 3;
        //         //     }
        //         // }
                
        //         img {
        //             // max-width: 100%;
        //             height: auto;
        //             transition: all .5s ease-in-out;
        //         }

        //         &:hover {
        //             img {
        //                 transform: scale(1.1, 1.1)
        //             }
        //         }

        //         // .tile-cover {
        //         //     position: absolute;
        //         //     background-color: black;
        //         //     height: 100%;
        //         //     width: 100%;
        //         //     top: 0;
        //         //     left: 0;
        //         //     opacity: 0;
        //         //     transition: .3s ease-in-out;
    
        //         //     &:hover {
        //         //         opacity: .3;
        //         //     }
        //         // }
        //     }
        // }

        .benefits .team {
            text-align: center;
          }
          
        .team {
            text-align: center;

            .teammate-avatar {
                vertical-align: middle;
                width: 175px;
                height: 175px;
                border-radius: 50%;
            }
          
            .teammate-name {
                font-weight: 600;
                margin-top: 2.5rem;
            }
          
            .social {
                margin-top: 2rem;
            }
          
            .fab {
                font-size: 1.33333em;
            }
        }
          
    }
}

// // Tiles
// .image-tiles-group {
//     .image-tiles {
//         max-width: 1280px;
//         margin: 0 auto;
//         width: 90%;

//         padding: {
//             right: 1rem;
//             left: 1rem;
//         } 

//         @media only screen and (min-width: 300px) {
//             width: 90%;
//         }

//         @media only screen and (min-width: 993px) {
//             width: 70%;
//         }

//         display: grid;

//         grid: {
//             template-columns: repeat(2, 1fr);
//             gap: .275em;
//             auto-rows: 300px;
//         }

//             @media only screen and (min-width: 300px) {
//                 @include grid_template_columns(1, 2fr)
//             }

//             @media only screen and (min-width: 601px) {
//                 @include grid_template_columns(2, 1fr)
//             }


//         .image-tile {
//             overflow: hidden;
//             background-color: #1565c0;

//             img {
//                 height: auto;
//                 transition: all .5s ease-in-out;

//                 &:hover {
//                     transform: scale(1.1, 1.1);
//                 }

//             }
//         }
//     }
// }