<script type="application/ld+json">
    {
        "@context": "https://www.schema.org",
        "@type": "Organization",
        "url": "https://www.nawoka.fr",
        "ContactPoint": [
            {
                "@type": "ContactPoint",
                "ContactType": "Customer service",
                "url": "https://nawoka.fr"
            }
        ],
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "Lille",
            "addressRegion": "Haut-de-France",
            "postalCode": "59000" 
        },
        "email": "contact.nawoka@gmail.com",
        "description": "Platforme ecommerce de vente de produits et accessoires mode et beauté"
    }
</script>