{% extends "base.html" %}

{% block title %}Service client{% endblock %}

{% block body %}
    <section class="section center" id="customer_service" style="display: grid; grid-template-columns: repeat(3, 1fr); grid-column-gap: 30px;">
        <div id="commande">
            <div class="card-panel">
                <i class="material-icons" style="font-size: 44px;">check</i>
                <h5>Commandes</h5>

                <div class="cover">
                    <a href="http://">A</a>
                    <a href="http://">B</a>
                    <a href="http://">C</a>
                </div>
            </div>
        </div>
        <div id="commande">
            test
        </div>
        <div id="commande">
            <div class="card-panel">
                <i class="material-icons" style="font-size: 44px;">check</i>
                <h5>Livraison</h5>
            </div>
        </div>
    </section>
{% endblock %}