<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Product</title>

        <link rel="stylesheet" href="../../css/mat.css">
        <link rel="stylesheet" href="../css/ecommerce.css">
        <link rel="stylesheet" href="../css/ecommerce_banners.css">
        <link rel="stylesheet" href="./css/test_product.css">
    </head>

    <body>
        <header class="ecommerce-header">
            <!-- NAVBAR -->
            <div class="fixed-ecommerce-nav" id="vue_navbar">
                <div class="ecommerce-nav">
                    <div class="nav-wrapper">
                        <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
                        <a href="#!" class="brand-logo">Shop</a>
                        <ul class="hide-on-med-and-down">
                            <li>
                                <trigger1 @triggerdropdown="initiatedropdown" />
                            </li>
                            <li>
                                <trigger2 @triggerdropdown="initiatedropdown" />
                            </li>
                        </ul>
                    </div>
        
                    <div>
                        <searchbar v-bind:searchstate="searchstate" />
                    </div>
        
                    <div>
                        <dropdownbar v-bind:dropdownstate="dropdownstate" />
                    </div>
                </div>
            </div>

            <!-- BANNERS -->
            <div class="top-banner sales-policies hide-on-med-and-down">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <i class="material-icons">flight</i>
                            <p>Livraison gratuite</p>
                        </div>
                        <div class="col s12 m4 l4">
                            <i class="material-icons">payment</i>
                            <p>Paiements sécurisés</p>
                        </div>
                        <div class="col s12 m4 l4">
                            <i class="material-icons">star</i>
                            <p>Garantie 30 jours</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROMOTION BANNER -->
            <!-- <div class="top-banner promotional hide-on-med-and-down">
                <a href="./product.html">
                    <div class=".wrapper">
                        <div class="big-title">
                            <img src="https://content.asos-media.com/-/media/homepages/unisex/homepages/outlet/app/2019-banners/desktop-mob/black_outlet_logo_desktop-v2.png" alt="image1">
                        </div>
                        <div class="presentation">
                            Jusqu'à -15% sur tous les sacs
                        </div>
                        <div class="legal">
                            Pour une durée limitée sur une sélection d’articles seulement. Prix déjà démarqués sur le site.
                        </div>
                    </div>
                </a>
            </div> -->
        </header>

        <main>
            <div class="ecommerce">
                <div class="grid" id="product">
                    <!-- BREADCRUMBS -->
                    <div class="breadcrumbs">Breadcrumbs</div>

                    <!-- SIDE IMAGES -->
                    <div class="side-images">
                        <img src="../assets/images/image1.jpg" alt="image1">
                        <img src="../assets/images/image2.jpg" alt="image2">
                        <img src="../assets/images/image3.jpg" alt="image3">
                    </div>

                    <!-- MAIN IMAGE -->
                    <div class="main-image">
                        <div class="image">
                            <img src="../assets/images/image3.jpg" alt="image3">
                        </div>
                    </div>

                    <!-- INFORMATION -->
                    <div class="information">
                        <h4>Bracelet en diamant pure</h4>

                        <div class="infos">
                            <div class="price">24.95€</div>
                            <div class="discounted-price">54€</div>
                        </div>

                        <button class="btn-large waves-effect waves-light grey darken-1 z-depth-0" id="btn_add_to_cart" data-for="modal2">
                            Ajouter au panier
                        </button>
                    </div>

                    <!-- DETAILS -->
                    <div class="details">Details</div>

                    <!-- MORE -->
                    <div class="more">
                        <h4>Vous allez aussi aimer</h4>
                        <div class="images">
                            <div class="image">                                
                                <img src="../assets/images/image1.jpg" alt="image4">
                                <div class="details">
                                    <div class="title">Jupe en cuir</div>
                                    <div class="price">54€</div>
                                </div>
                            </div>
                            <div class="image">
                                <a href="./product.html">
                                    <img src="../assets/images/image2.jpg" alt="image4">
                                    <div class="details">
                                        <div class="price-details">
                                            <div class="title">Jupe en velours</div>
                                            <div class="price">54€</div>
                                        </div>
                                    </div>                                
                                </a>
                            </div>
                            <div class="image">
                                <img src="../assets/images/image3.jpg" alt="image4">
                                <div class="details">
                                    <div class="title">Sac de vuitton</div>
                                    <div class="price">54€</div>
                                </div>
                            </div>
                            <div class="image">
                                <img src="../assets/images/image1.jpg" alt="image4">
                                <div class="details">
                                    <div class="title">Tote bag divaga</div>
                                    <div class="price">54€</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="page-footer grey darken-4 with-policies">
            <div class="policies">
                <div class="payments">
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
                <div class="social">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Aide et information</h5>
                        <p><a href="./customer_service.html" target="_blank">Assistance</a></p>
                        <p><a href="" target="_blank">Suivi commande</a></li></p>
                        <p><a href="" target="_blank">Livraison retour</a></li></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>A propos de Nawoka</h5>
                        <p><a href="" target="_blank">A propos de Nawoka</a></p>
                        <p><a href="" target="_blank">Nawoka recrute</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <p> 2019 @ Entreprise</p>
                <a href="{% url 'cgv' %}">Conditions générales</a>
                <a href="{% url 'confidentialite' %}">Confidentialité et cookies</a>
            </div>
        </footer>
        
        <!-- JQUERY -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <!-- LODASH -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
        
        <!-- VUE JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- OTHERS -->
        <script src="../js/nav.js"></script>
    </body>
</html>