<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>Hero n°3</title>
    
        <link rel="stylesheet" href="../../mat.css">
        <link rel="stylesheet" href="../../extended_materialize.css">
        <link rel="stylesheet" href="../../cards/cards.css">
        <link rel="stylesheet" href="../ecommerce.css">
    </head>

    <body>
        <nav class="red darken-1">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Shop</a>
                    <ul id="nav-mobile" class="hide-on-med-and-down right">
                        <li><a href="#!">Boutique</a></li>
                        <li><a href="#!">A propos</a></li>
                        <li><a href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- BAR -->
        <div class="filterbar show-on-med-and-down">
            <div class="filter with-drop">
                Trier
            </div>
            <div class="filter with-slider">
                Filtrer
            </div>

            <div class="drop">
                <ul>
                    <li><a href="#!">Prix</a></li>
                    <li><a href="#!">Couleur</a></li>
                    <li><a href="#!">Style</a></li>
                </ul>
            </div>

            <div class="slider">
                <div class="title"><h4>Filtrer</h4></div>
                <ul>
                    <li><button>Marque</button></li>
                    <li><button>Couleur</button></li>
                </ul>
            </div>
        </div>
        
        <main>
            <section class="section">
                <div class="container">
                    <div class="row">
                        <!-- FILTERS -->
                        <div class="col s12 m3 l3">
                            <div class="card ecommerce-filter hide-on-med-and-down">
                                <div class="card-header red lighten-1">
                                    First filter
                                </div>
                                <div class="card-content">
                                    <p>
                                        <label>
                                            <input name="group1" type="radio" checked />
                                            <span>Accessories (3600)</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input name="group1" type="radio" />
                                            <span>Bay item (3600)</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input name="group1" type="radio" />
                                            <span>Food (3600)</span>
                                        </label>
                                    </p>
                                </div>
                            </div>

                            <div class="card ecommerce-filter hide-on-med-and-down">
                                <div class="card-header red lighten-1">
                                    Second filter
                                </div>
                                <div class="card-content">
                                    <form action="#">
                                        <p class="range-field">
                                            <input type="range" id="test5" min="0" max="100" />
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- PRODUCTS -->
                        <div class="col s12 m9 l9">
                            <div class="col s12 m4 l4">
                                <a href="../product/product.html" class="card-special-link">
                                    <div class="card special push-up">
                                        <div class="card-image">
                                            <img src="../../../assets/images/product1.webp" alt="">
                                        </div>
                                        <div class="hover-cover">
                                            <h5>Jupe</h5>
                                            <p>Some text here</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="card special push-up">
                                    <div class="card-image">
                                        <img src="../../../assets/images/product2.webp" alt="">
                                    </div>
                                    <div class="hover-cover">
                                        <h5>Jupe</h5>
                                        <p>Some text here</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="card special push-up">
                                    <div class="card-image">
                                        <img src="../../../assets/images/product1.webp" alt="">
                                    </div>
                                    <div class="hover-cover">
                                        <h5>Jupe</h5>
                                        <p>Some text here</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m4 l4">
                                <div class="card special push-up">
                                    <div class="card-image">
                                        <img src="../../../assets/images/product2.webp" alt="">
                                    </div>
                                    <div class="hover-cover">
                                        <h5>Jupe</h5>
                                        <p>Some text here</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>

        <footer class="page-footer red darken-1">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="#!" target="_blank">Diffuser une offre</a></p>
                        <p><a href="#!" target="_blank">Lancer sa boîte</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="#!" target="_blank">Candidater à une offre</a></p>
                        <p><a href="#!" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Contact</h5>
                        <div id="contact">
                            <p><i class="material-icons">map</i><a href="https://www.google.com/maps/?q=165 avenue de Bretagne" target="_blank" rel="noopener noreferrer">Avenue de Bretagne</a></p>
                            <p><i class="material-icons">phone</i><a href="tel:+330655346698">0655346698</a></p>
                            <p><i class="material-icons">email</i><a href="mailto:contact.kurrikulam@gmail.com">contact.kurrikulam@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                2019 @entreprise
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <script>
            var filterBar = (function(params) {
                var bar = $(".filterbar")
                var sideBarSize = params.width

                var showSlider = function() {
                    var css = {
                        "display": "block",
                        "transform": "translateX(0px)"
                    }

                    var newCss = Object.assign({}, css, params)

                    $(".slider").css(newCss)
                }

                var showDrop = function() {
                    $(".filterbar .drop").css(
                        {
                            "display": "block",
                            "transform-origin": "0px 0px",
                            // "transform": "scaleX(1) scaleY(1)"
                        }
                    )
                }
                
                var addEvent = function() {
                    $(".with-drop").on("click", showDrop)
                    $(".with-slider").on("click", showSlider)
                }

                addEvent()
            })

            filterBar({"width": 320})
        </script>
    </body>
</html>