<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %}</title>

        <!-- Google stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="./tests.css">
    </head>
    <body>
        <main>
            <!-- <div class="ecommerce-slider">
                <div class="slider-wrapper">
                    <div class="image"><img src="../../../assets/images/image10.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image11.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image12.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image10.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image11.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image12.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image10.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image11.jpg" alt="image1"></div>
                    <div class="image"><img src="../../../assets/images/image12.jpg" alt="image1"></div>
                </div>
            </div> -->
        </main>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        
        <!-- Materialize scripts -->
        <script>
            $(document).ready(function(){
                // Sidenav
                $('.sidenav').sidenav();
                // Scrollspy
                $('.scrollspy').scrollSpy();
                // Select
                $('select').formSelect();
                // Modals
                $('.modal').modal();
            });
        </script>

        <script>
            var ecommerceSlider = $(".ecommerce-slider")

            ecommerceSlider.on("drag", function() {
                var sliderWrapper = $(this).find(".slider-wrapper")
                var css = { "transform": "translateX(-1280px)" }
                sliderWrapper.css(css)
            })
        </script>
    </body>
</html>