.tilesz {
    position: relative;
    width: 100%;
    padding-top: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    color: white;
}
.tiles-wrapper > * {
    display: block;
    margin: 5px;
    cursor: pointer;
}
.tiles .tiles-wrapper {
    width: 100%;
}
.tilesz .tile {
    float: left;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    padding: 15px;
    height: 250px;
}
.tilesz .tile-img {
    float: left;
    overflow: hidden;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    height: 250px;
}

/* .tiles .tile:hover,
.tiles .tile:active,
.tiles .tile.active,
.tiles .tile:focus,
.tiles .tile:active:focus,
.tiles .tile.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.tile.s4,
.tile-img.s4 {
    width: 30%;
}
.tile.s5,
.tile-img.s5 {
    width: 60%;
}
.tile.s6,
.tile-img.s6 {
    width: 100%;
}


.tile .tile-image {

}

/* .tile .tile-content {
    height: 100%;
    width: 100;
}

.tile .tile-title {
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    margin: 15px;
} */