$red: #ee6e73;
$dark_red: #E53935;

@mixin media_grid($screen, $n) {
    @media only screen and (min-width: $screen) {
        grid: {
            template-columns: repeat($n, 1fr);
        }
    }
}

@mixin grid($n) {
    grid: {
        template-columns: repeat($n, 1fr);
        gap: .275em;
        auto-rows: 300px;
    }

    @include media_grid(300px, 1);

    @include media_grid(601px, 3);
}

%tile {
    overflow: hidden;
    background-color: $red;
}

.images-wall {
    padding: {
        top: 1rem;
        bottom: 1rem;
    }

    display: grid;

    @include grid(3);

    .image {
        @extend %tile;

        position: relative;

        img {
            transition: all .5s ease-in-out;
            max-width: 100%;

            &:hover {
                transform: scale(1.2, 1.3);
            }
        }

        // background-image: url("/assets/images/banner-01.jpg");
        // background-size: cover;
        // background-repeat: no-repeat;
    }

    .text {
        @extend %tile;
        background-color: blueviolet;

        .card-panel {
            height: 100%;
            margin: 0;
        }
    }
}