<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./tiles.css">
        <title>Tiles</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="tilesz">
                    <div class="tiles-wrapper">
                        <div class="tile s4 blue">
                            Valeurs
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero perspiciatis dolores dolore eius unde facilis. Fugit, blanditiis. Sit repudiandae optio magnam quas neque doloremque amet similique et? Ex, at molestias!</p>
                        </div>
                
                        <div class="tile s5 red">
                            Test
                        </div>
                
                        <div class="tile-img s4 blue">
                            <div class="tile-image"><img class="responsive-img" src="./banner-01.jpg" alt="test"></div>
                        </div>

                        <div class="tile s4 blue lighten-2">
                            Test
                        </div>

                        <div class="tile s4 grey">
                            Test
                        </div>

                        <div class="tile s6 pink">
                            Test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>