<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>Images Wall</title>
    
        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="../hero/hero.css">
        <link rel="stylesheet" href="./tiles.css">
    
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <nav class="red darken-1">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Shop</a>
                    <ul id="nav-mobile" class="hide-on-med-and-down right">
                        <li><a href="#!">Boutique</a></li>
                        <li><a href="#!">A propos</a></li>
                        <li><a href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <div class="container">
                <div class="images-wall">
                    <div class="image">
                        <img src="../../assets/images/banner-01.jpg">
                    </div>
                    <div class="image">
                        <!-- <img src="./banner-01.jpg"> -->
                    </div>
                    <div class="image">
                        <!-- <img src="./banner-01.jpg"> -->
                    </div>
                    <div class="text">
                        <div class="card-panel">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Aut voluptates nam ducimus eveniet quas. 
                            Maxime repellendus quam ab obcaecati, praesentium 
                            nostrum rem consequatur rerum commodi, 
                            dolore reprehenderit, tempore iure quod?
                        </div>
                    </div>
                    <div class="image">
                        
                    </div>
                    <div class="image">
                        
                    </div> 
                    <div class="image">

                    </div>
                    <div class="image">
                        
                    </div>   
                    
                    <div class="text">
                        <div class="card-panel">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            Aut voluptates nam ducimus eveniet quas. 
                            Maxime repellendus quam ab obcaecati, praesentium 
                            nostrum rem consequatur rerum commodi, 
                            dolore reprehenderit, tempore iure quod?
                        </div>
                    </div>
            </div>
        </main>

        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="#!" target="_blank">Diffuser une offre</a></p>
                        <p><a href="#!" target="_blank">Lancer sa boîte</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="#!" target="_blank">Candidater à une offre</a></p>
                        <p><a href="#!" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Contact</h5>
                        <div id="contact">
                            <p><i class="material-icons">map</i><a href="https://www.google.com/maps/?q=165 avenue de Bretagne" target="_blank" rel="noopener noreferrer">Avenue de Bretagne</a></p>
                            <p><i class="material-icons">phone</i><a href="tel:+330655346698">0655346698</a></p>
                            <p><i class="material-icons">email</i><a href="mailto:contact.kurrikulam@gmail.com">contact.kurrikulam@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                2019 @entreprise
            </div>
        </footer>
    </body>
</html>