<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

        <title>Maintainance</title>

        <style>
            html {
                background: rgba(0, 0, 0, .1);
            }
        </style>
    </head>
    <body>
        <main>
            <div class="container">
                <section class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <img src="../../assets/images/product1.webp" alt="maintainance">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-title">
                                        Maintainance
                                    </div>
                    
                                    Notre site se fait une petite cure de jouvence
                                    rien que pour vous. Un peu de patience et tout
                                    reviendra à la normale.
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </body>
</html>