<div class="information">
    <div class="infos">
        <div class="price discounted">567€</div>
        <div class="discounted-price">147.75€</div>
    </div>
    <h3>Jupe en lineau</h3>
    <p class="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
        At consequatur saepe doloribus dicta aut consectetur exercitationem quos 
        incidunt ad in temporibus delectus.
    </p>
    <button href="#!" class="btn-large red darken-3" id="btn_add_to_cart">
        <i class="material-icons left">shopping_cart</i>
        Ajouter au panier
    </button>
</div>