<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="./card_slim.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 m8 l8">
                    <div class="card horizontal slim animate">
                        <div class="card-image">
                            <img src="../../assets/images/product2.webp" alt="">
                            
                            <div class="like">
                                <i class="material-icons">star_border</i>
                            </div>
                        </div>
                        <a href="#!" class="card-slim-link">
                            <div class="card-stacked">
                                <div class="card-content">
                                    <h4>Karlie Kloss</h4>
                                    Something - that - is - great
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <script src="./card_slim.js"></script>
    </body>
</html>