<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="forums.css">
        <link rel="stylesheet" href="../extended_materialize.css">
    </head>
    <body>
        <!-- CARDS FOR FORUMS -->
        <div class="container">
            <!-- <div class="test">
                <div class="a"></div>
                <div class="b">test</div>
            </div> -->

                    
            <div class="card forum-card">
                <div class="card-content">
                    <div class="user-details">
                        <img src="https://materializecss.com/images/yuna.jpg" class="avatar" id="inactive" alt="avatar">
                        <p>Julie Pauline</p>

                        <div id="details" class="hide">
                            <p>Joined in 2015</p>
                            <p>Messages: <span>1345</span></p>
                            <p>Likes: <span>3342</span></p>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Veritatis ipsum saepe necessitatibus esse 
                        quisquam odit aperiam, asperiores voluptas 
                        fugiat eius, rem corrupti deleniti adipisci 
                        assumenda? Id ea quaerat earum placeat!
                    </div>
                </p>
                <div class="action">
                    <button class="btn">Quote</button>
                    <button class="btn">Quick response</button>
                </div>
            </div>

            <div class="card forum-card">
                <div class="card-content">
                    <div class="user-details">
                        <img src="https://materializecss.com/images/yuna.jpg" class="avatar" id="active" alt="avatar">
                        <p>Aurélie Paros</p>
                        <div id="details" class="hide">
                            <p>Joined in 2015</p>
                            <p>Messages: <span>1345</span></p>
                            <p>Likes: <span>33</span></p>
                        </div>    
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing 
                        elit. Veritatis ipsum saepe necessitatibus esse 
                        quisquam odit aperiam, asperiores voluptas 
                        fugiat eius, rem corrupti deleniti adipisci 
                        assumenda? Id ea quaerat earum placeat!
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Veritatis illum, doloribus quasi fugit repudiandae 
                        sapiente quibusdam minus dolores nemo mollitia 
                        aperiam adipisci doloremque harum architecto 
                        soluta placeat cum sint dolorem?
                    </p>
                </div>
                <div class="action">
                    <button class="btn">Quote</button>
                    <button class="btn">Quick response</button>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="forums.js"></script>
    </body>
</html>