<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Cards</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./cards.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <!-- BOTTOM-UP -->
                <div class="col s12 l4">
                    <div class="card special push-up">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="image">
                        </div>
                        <div class="hover-cover">
                            <h5>Jupe</h5>
                            <p>Some text here</p>
                        </div>
                    </div>
                </div>
                <!-- BOTTOM-UP -->

                <!-- BOTTOM-UP IMAGE -->
                <div class="col s12 l4">
                    <div class="card special push-up-with-image">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample10.jpg" alt="image">
                        </div>
                        <div class="hover-cover">
                            <h5>Jupe</h5>
                            <p>Some text here</p>
                        </div>
                    </div>
                </div>
                <!-- BOTTOM-UP IMAGE -->

                <!-- BOTTOM-UP SOCIAL -->
                <div class="col s12 l4">
                    <div class="card special push-up">
                        <div class="discount">15%</div>
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="image">
                        </div>
                        <div class="hover-cover-icons">
                            <a href="#!"><i class="material-icons">shopping_cart</i></a>
                            <a href="#!" id="star"><i class="material-icons">star</i></a>
                            <a href="#!"><i class="material-icons">share</i></a>
                        </div>
                    </div>
                </div>
                <!-- BOTTOM-UP SOCIAL -->

                <div class="col s12 l4">
                    <!-- ZOOM -->
                    <div class="card special zoom">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                        </div>
                    </div>
                    <!-- ZOOM -->
                </div>

                <!-- ZOOM TEXT -->
                <div class="col s12 l4">
                    <div class="card special zoom">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample7.jpg" alt="image">
                        </div>
                
                        <div class="card-cover">
                            <span>Jupe de luxe</span>
                        </div>
                    </div>
                </div>
                <!-- ZOOM TEXT -->

                <!-- ZOOM TEXT -->
                <div class="col s12 l4">
                    <div class="card special dim">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="image">
                        </div>
                    </div>
                </div>
                <!-- ZOOM TEXT -->

                <!-- SIMPLE FASHION TYPE CARD -->
                <div class="col s12 l4">
                    <a href="{% url 'products_stock' %}?cat=femme">
                        <div class="card special centered z-depth-0">
                            <div class="card-image">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample5.jpg" alt="">
                            </div>
                            <div class="text-overlay emphasize">
                                <h4>Homme</h4>
                                <p>This is a great card</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- SIMPLE FASHION TYPE CARD -->

                <!-- RIPPLE -->
                <div class="col s12 l4">
                    <div class="card-panel special ripple z-depth-1 blue">
                        <h3>Test</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Debitis earum et aliquam accusamus minima possimus inventore 
                            vitae eaque optio modi ipsam autem at numquam, adipisci doloribus 
                            quae quibusdam quod minus!
                        </p>
                    </div>
                </div>
                <!-- RIPPLE -->
                
                <!-- FILTER CARDS -->
                <div class="col s12 l4">
                    <div class="card with-filters">
                        <div class="card-content">
                            <p>
                                <label>
                                    <input type="radio" name="filter1" id="filter1">
                                    <span>Clothes</span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input type="radio" name="filter1" id="filter1">
                                    <span>Skirts</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- FILTER CARDS -->

                <!-- WITH HEADERS -->
                <div class="col s12 l4">
                    <div class="card">
                        <div class="card-header">
                            Title
                        </div>
                        <div class="card-content">
                            Content
                        </div>
                    </div>
                </div>
                <!-- WITH HEADERS -->

                <!-- WITH MORE -->
                <!-- <div class="col s12 l4">
                    <div class="card with-more">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="image">
                        </div>
                        <i class="material-icons">more_vert</i>
                        <div class="more-content">
                            We can put some great content in there and
                            show it when we hover over the more icon
                        </div>
                    </div>
                </div> -->
                <!-- WITH MORE -->

                <!-- SLIDER -->
                <div class="col s12 l4">
                    <div class="card with-slider">
                        <div class="navigation">
                            <i class="material-icons" id="left">keyboard_arrow_left</i>
                            <i class="material-icons" id="right">keyboard_arrow_right</i>
                        </div>
                        <div class="wrapper">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample2.jpg" class="hide" alt="image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" class="hide" alt="image">
                        </div>
                    </div>
                </div>
                <!-- SLIDER -->

                <!-- BLUR -->
                <div class="col s12 l4">
                    <div class="card special blur">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample19.jpg" alt="image">
                            <p id="title">Yuna Kim</p>
                        </div>
                    </div>
                </div>
                <!-- BLUR -->

                <!-- WITH ACTIONS -->
                <div class="col s12 l4">
                    <div class="card special with-action">
                        <div class="card-image">
                            <img src="https://colorlib.com/preview/theme/divisima/img/product/2.jpg" alt="">
                        </div>
                        <div class="actions">
                            <!-- <div class="action"><i class="material-icons">shopping_cart</i><span>Add to cart</span></div> -->
                            <div class="action"><i class="material-icons">shopping_cart</i></div>
                            <div class="action" id="star"><i class="material-icons">star_border</i></div>
                        </div>
                    </div>
                </div>
                <!-- WITH ACTIONS -->

                <!-- WITH ACTIONS -->
                <div class="col s12 l4">
                    <div class="card flat-ecommerce with-action">
                        <div class="card-image">
                            <img src="https://colorlib.com/preview/theme/divisima/img/product/2.jpg" alt="">
                            <div class="actions">
                                <div class="action" id="star"><i class="material-icons">star_border</i></div>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="title">Sac de facetti marron</div>
                            <div class="price">54.45€</div>
                        </div>
                    </div>
                </div>
                <!-- WITH ACTIONS -->
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <script src="./cards.js"></script>
    </body>
</html>