$red_darken_1: #e53935;
$red_darken_3: #c62828;
$z_depth_1: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

%container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;

    @media only screen and (min-width: 601px) {
        width: 85%;
    }

    @media only screen and (min-width: 993px) {
        width: 70%;
    }
}

%ecommerce_sub_section {
    padding: {
        top: 1rem;
        bottom: 1rem;
    }
}

.card-link {
    color: inherit;
}

.section.ecommerce {    
    @media only screen and (min-width: 301px) {
        padding-top: 0rem;
    }

    @media only screen and (min-width: 993px) {
        padding-top: 1rem;
    }

    // PRODUCT
    &#product {
        hr.section-separation {
            margin: {
                top: 3rem;
                bottom: 3rem;
            }
        }
    
        .product {
            @extend %ecommerce_sub_section;

            @media only screen and (min-width: 301px) {
                box-shadow: $z_depth_1;
            }
        
            @media only screen and (min-width: 993px) {
                box-shadow: none;
            }
    
            .side-images {
                img {
                    transition: opacity .5s ease;
        
                    cursor: pointer;
            
                    &:hover {
                        opacity: .5;
                    }
                }

                &.for-mobile {
                    img {
                        position: absolute;
                        width: 100%;
                        top: 0;
                        right: 0;
                        z-index: -1;
                    }
                }
            }
    
            .breadcrumbs {
                a {
                    color: inherit;
                }
    
                .breadcrumb {
                    font-size: 12px;
    
                    &:before {
                        vertical-align: middle;
                        color: black;
                    }
                }
            }
    
            .information {
                @each $title in h1, h2, h3, h4, h5 {
                    #{$title} {
                        font: {
                            size: 22px;
                            weight: 300;
                        }
                        margin: {
                            top: 0;
                        };
                    }
                }
    
                .infos {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
    
                    // div:not(:first-child) {
                    //     margin-left: 15px;
                    // }
    
                    .price {
                        font: {
                            size: 24px;
                            weight: 700;
                        }
                        letter-spacing: 2.8px;
                        line-height: 1.1;
    
                        &.discounted {
                            color: #ee6e73;
                        }
                    }
    
                    .discounted-price {
                        line-height: 2;
                        letter-spacing: 0.4px;
                        text-decoration: line-through;
                        padding-left: 14px;
                    }
    
                }
    
                .description {
                    margin: {
                        top: 2rem;
                        bottom: 2rem;
                    }

                    @media only screen and (min-width: 301px) {
                        margin: {
                            top: .75rem;
                            bottom: 1rem;
                        }
                    }
                    
                    @media only screen and (min-width: 993px) {
                        margin: {
                            top: 2rem;
                            bottom: 2rem;
                        }
                    }
                }

                .details-summary {
                    display: flex;
                    

                    @media only screen and (min-width: 301px) {
                        flex-direction: row;
                        justify-content: left;
                    }
                    
                    @media only screen and (min-width: 993px) {
                        flex-direction: column;
                        justify-content: left;
                    }

                    div:not(:last-child) {
                        margin: {
                            right: .85rem;
                        };
                    }
                }
    
                .coloration, .size {
                    label {
                        font: {
                            size: 14px;
                            weight: 700;
                        }
                        text-transform: uppercase;
                        line-height: 1.7;
                        vertical-align: baseline;
                        color: rgba(0, 0, 0, 0.8)
                    }
                    margin: {
                        top: 10px;
                    }
                }
            }
    
            #btn_add_to_cart {
                margin-top: 30px;
            }
        }
    
        .details {
            @extend %container;
            @extend %ecommerce_sub_section;
    
            display: grid;
            grid-column-gap: 10px;
            padding: 1rem;
            
            @media only screen and (min-width: 301px) {
                // width: 100%;
                // margin: {
                //     right: 0;
                //     left: 0;
                // }
                // padding: 0 2.15rem;
                grid-template-columns: repeat(1, 1fr);
            }
            
            @media only screen and (min-width: 993px) {
                // margin: {
                //     right: auto;
                //     left: auto;
                // };
                grid-template-columns: repeat(3, 1fr);
            }
    
            .detail {
                @each $title in h1, h2, h3, h4, h5 {
                    #{$title} {
                        font: {
                            size: 14px;
                            weight: 700;
                        }
                        text-transform: uppercase;
                    }
                }
            }
        }
    
        .more {
            @extend %container;
            
            @each $title in h1, h2, h3, h4, h5 {
                #{$title} {
                    font: {
                        weight: 700;
                    }
                    text-transform: uppercase;
                    text-align: center;
                    margin: {
                        bottom: 4rem;
                    }
                }
            }
        }
    }
}

// Filterbar that appears for
// mobile phones
.filterbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60px;
    padding: 2px;
    color: white;
    background-color: grey;
    cursor: pointer;

    .filter {
        padding: 1rem;
        text-align: center;

        &.with-drop {
            z-index: 1;
            
            .drop {
                display: none;

                ul {
                    position: absolute;
                    top: 0;
                    left: 34px;
                    z-index: 9999;
                    background-color: #fff;
                    min-width: 170px;
                    overflow-y: auto;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    
                    li {
                        clear: both;
                        color: rgba(0, 0, 0, 0.87);
                        cursor: pointer;
                        min-height: 50px;
                        line-height: 1.5rem;
                        width: 100%;
                        text-align: left;
    
                        a {
                            display: block;
                            font-size: 16px;
                            color: #26a69a;
                            line-height: 22px;
                            padding: 14px 16px;
                            // transition: all .2s ease-in-out;
    
                            // &:hover {
                            //     background-color: rgba(0, 0, 0, .1);
                            // }
                        }
                    }
                }
            }
        }

        &.with-drawer {
            .drawer {
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                background-color: white;
                width: 300px;
                z-index: 9999;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                transition: all .3s ease-in;
                transform: translateX(310px);
                backface-visibility: hidden;
                color: rgba(0, 0, 0, 0.87);

                .title {
                    display: block;
                    height: auto;
                    padding: 1rem;
                    margin-bottom: 2rem;
        
                    * {
                        margin: 0;
                    }
                }

                ul {
                    margin-top: 0;
        
                    li {
                        font-size: 16px;
                        // padding: 1rem;
                        padding: 0 0 0 1rem;
        
                        button {
                            display: block;
                            width: 100%;
                            height: 50px;
                            text-rendering: auto;
                            background-color: white;
                            box-shadow: none;
                            border: none;
                            text-align: left;
                            padding: 0;
                        }
                    }
                }
            }        
        }        
    }        
}        

section.ecommerce-grid {
    .container {
        display: grid;
        grid-column-gap: 15px;

        @extend %container;

        @media only screen and (min-width: 601px) {
            grid-template-columns: repeat(2, 1fr);
        }
    
        @media only screen and (min-width: 993px) {
            grid-template-columns: repeat(3, 1fr);
        }    
    }

    .card.ecommerce {
        border-radius: 0rem;

        .card-content {
            padding-left: 0;
        }

        .title {
            font: {
                size: 14px;
                weight: 500;
            }
        }
    }
    
    .price {
        font: {
            weight: 700;
            size: 18px;
        }
        margin-top: 1rem;
    }
}




%ul_for_bar {
    overflow: hidden;
    margin: 0;
}

%li_for_bar {
    float: left;
    transition: background-color .3s ease-in-out;
}

@mixin link_for_bar {
    a {
        display: block;
        color: white;
        padding: 20px;
    }
}

.ecommerce-bar {
    background-color: $red_darken_3;
    z-index: -999;

    &.transparent-on-scroll {
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    
    ul {
        @extend %ul_for_bar;
        
        li {
            @extend %li_for_bar;

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &.best-offers {
                background-color: #66bb6a;

                &:hover {
                    background-color: rgba(102, 187, 106, 0.5);
                }
            }
            
            @include link_for_bar();
        }
    }

    &.for-mobile {
        ul {
            @extend %ul_for_bar;

            li {
                @extend %li_for_bar;
                
                @include link_for_bar();
            }
        }
    }
}

.ecommerce-bar-drawer {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    width: 310px;
    transition: all .3s ease-in-out;
    backface-visibility: hidden;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transform: translateX(312px);

    .drawer {
        width: 100%;

        .title {
            display: block;
            height: auto;
            padding: 1rem;
            margin-bottom: 2rem;

            * {
                margin: 0;
            }
        }

        ul {
            margin-top: 0;

            li {
                font-size: 16px;
                padding: 0 0 0 1rem;

                a, button {
                    display: block;
                    width: 100%;
                    height: 50px;
                    text-rendering: auto;
                    color: inherit;
                    background-color: white;
                    box-shadow: none;
                    border: none;
                    text-align: left;
                    padding: 0;
                }
            }
        }
    }        
}        
