{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% include "navs/nav.html" %}

{% block hero %}
    <div class="hero red darken-3">
        <div class="hero-wrapper">
            <div class="call-to-action">
                <div class="lead-stronger">Launch a prototype in seconds</div>
                <div class="lead-subtitle">Test your startup idea in a few lines of codes</div>
                <a href="#!" class="btn-large red darken-1">Explore</a>
            </div>
        </div>
    </div>

    {% include "hero/benefits.html" %}
{% endblock %}

{% include "navs/footer.html" %}
