{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav %}
    {% include "navs/nav.html" %}
{% endblock %}

{% block hero %}
    <div class="hero red darken-3">
        <div class="hero-wrapper">
            <div class="call-to-action">
                <div class="lead-stronger">Launch a prototype in seconds</div>
                <div class="lead-subtitle">Test your startup idea in a few lines of codes</div>
                <a href="{{ url_for('contact') }}" 
                    class="btn-large waves-effect waves-light red darken-1">
                    Nous contacter
                </a>
            </div>
        </div>
    </div>

    {% include "hero/benefits.html" %}
{% endblock %}

{% block footer %}
    {% include "navs/footer.html" %}
{% endblock %}
