@mixin header_helper($height) {
    // $text_position: $height / 3;

    background: {
        color: blue;
        repeat: no-repeat;
        position: center;
        size: cover;
    }
    height: auto;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: {
        top: 50px;
        bottom: 50px;
    }
}

@mixin header_titles {
    div.header {
        &-title {
            font-size: 2.75rem;
            font-weight: 600;

            @media only screen and (min-width: 300px) {
                div.header-title {
                    font-size: 2rem;
                }
            }

            @media only screen and (min-width: 601px) {
                div.header-title {
                    font-size: 2.75rem;
                }
            }
        }

        // &.upper {
        //     text-transform: uppercase;
        // }
        &-subtitle {
            font-size: 1.7rem;
            font-weight: 300;
            margin: 0 auto 0 auto;

            @media only screen and (min-width: 300px) {
                div.header-subtitle {
                font-size: 1.25rem;
                }
            }

            @media only screen and (min-width: 601px) {
                div.header-subtitle {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

@mixin search_actions {
    margin-top: 2.575rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;

    @media only screen and (min-width: 300px) {
        grid-template-columns: 1fr;
        grid-column-gap: 0em;
        grid-row-gap: 1em;
    }

    @media only screen and (min-width: 601px) {
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1em;
    }
}

@mixin search_input_fields {
    .input-wrapper {
        background: white;
        padding:  8px 8px 8px 8px;
        border-radius: .275rem;

        input {
            margin: 0;
        }
    }
}

.section.header {
    & {
        @include header_helper(250px);
        @include header_titles();

        .btn {
            &, &-small, &-large {
                margin-top: 25px;
            }
        }

        .search {
            @include search_actions();
            @include search_input_fields();

            .btn-large {
                margin-top: 0;
            }
        }

        // &-medium {
        //     @include header_helper(350px);
        //     @include header_titles();
            
        //     .btn {
        //         &, &-small, &-large {
        //             margin-top: 25px;
        //         }
        //     }

        //     .search {
        //         @include search_actions();
    
        //         .input-field {
        //             background-color: white;
        //             margin: 0;
        //             // width: 100%;
        //             // padding: 5px 25px 15px 25px;
        //             // border-radius: 2px;
    
        //             input {
        //                 margin: 0;
        //             }
    
        //             &:not(:last-child) {
        //                 margin-right: 15px;
        //             }
        //         }
        //     }    
        // }

        // &-large {
        //     @include header_helper(500px);
        //     @include header_titles();

        //     .btn {
        //         &, &-small, &-large {
        //             margin-top: 25px;
        //         }
        //     }

        //     .search {    
        //         .input-field {
        //             background-color: white;
        //             margin: 0;
        //             width: 25%;
        //             padding: 5px 25px 15px 25px;
        //             border-radius: 2px;
    
        //             input {
        //                 margin: 0;
        //             }
    
        //             &:not(:last-child) {
        //                 margin-right: 15px;
        //             }
        //         }
        //     }    
        // }
    }
}