@mixin header_helper($height) {
    // $text_position: $height / 3;

    background: {
        image: url("https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/hero5.jpg");
        repeat: no-repeat;
        position: center;
        size: cover;
    }
    height: $height;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: {
        top: 50px;
        bottom: 50px;
    }
    // padding: {
    //     top: $text_position;
    //     bottom: $text_position;
    // }
}

@mixin header_titles {
    div.header {
        &-title {
            font-size: 2.75rem;
            font-weight: 600;

            @media only screen and (min-width: 300px) {
                div.header-title {
                    font-size: 2rem;
                }
            }

            @media only screen and (min-width: 601px) {
                div.header-title {
                    font-size: 2.75rem;
                }
            }
        }

        // &.upper {
        //     text-transform: uppercase;
        // }
        &-subtitle {
            font-size: 1.7rem;
            font-weight: 300;
            margin: 0 auto 0 auto;

            @media only screen and (min-width: 300px) {
                div.header-subtitle {
                font-size: 1.25rem;
                }
            }

            @media only screen and (min-width: 601px) {
                div.header-subtitle {
                    font-size: 1.7rem;
                }
            }
        }
    }
}

.section.header {
    & {
        @include header_helper(250px);
        @include header_titles();

        .btn {
            &, &-small, &-large {
                margin-top: 25px;
            }
        }

        .header-nav {
            position: absolute;
            background-color: #0097a7;
            top: 210px;
            height: 75px;
            width: 900px;
            padding: 15px;
            vertical-align: middle;
            border-radius: .375rem;
        }

        &-medium {
            @include header_helper(350px);
            @include header_titles();

            .btn {
                &, &-small, &-large {
                    margin-top: 25px;
                }
            }

            .search {
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                .input-field {
                    background-color: white;
                    margin: 0;
                    width: 25%;
                    padding: 5px 25px 15px 25px;
                    border-radius: 2px;
    
                    input {
                        margin: 0;
                    }
    
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }    
        }

        &-large {
            @include header_helper(500px);
            @include header_titles();

            .btn {
                &, &-small, &-large {
                    margin-top: 25px;
                }
            }

            .search {
                display: flex;
                flex-direction: row;
                justify-content: center;
    
                .input-field {
                    background-color: white;
                    margin: 0;
                    width: 25%;
                    padding: 5px 25px 15px 25px;
                    border-radius: 2px;
    
                    input {
                        margin: 0;
                    }
    
                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }    
        }
    }
}