<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Hero n°5</title>

    <link rel="stylesheet" href="../mat.css">
    <link rel="stylesheet" href="../extended_materialize.css">
    <link rel="stylesheet" href="./hero.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
    <body>
        <nav class="blue lighten-1"></nav>
        <div class="hero">
            <div class="hero-wrapper">
                <div class="call-to-action">
                    <div class="lead">Ne me parlez pas de la vie</div>
                    <div class="lead-subtitle">Je suis une femme</div>
                    <a href="#!" class="btn-large blue lighten-1">Press</a>
                </div>
            </div>
        </div>

        <section class="benefits">
            <section class="section separator">
                <div class="container center">
                    <div class="row">
                        <div class="col s12 m12">
                            <h4>Votre recrutement</h4>
                            <h5>
                                Faites votre vie
                            </h5>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section benefit">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h4>Simplicité <span class="lighten">d'action</span></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil consequatur perspiciatis praesentium earum quaerat in ex voluptatum 
                                molestias quod. Nemo fugit voluptate nostrum quisquam commodi quo sed voluptatem 
                                dolorum possimus.
                                <br><br>
                                <a href="#!">En savoir plus</a>
                            </p>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class="card z-depth-0">
                                <div class="card-image">
                                    <img src="./analyze_data.svg" alt="test">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="separator-with-image">
                <div class="container">
                    <div class="seperator-content">
                        <h1>Section intermédiaire</h1>
                        <h5>Ceci est un autre texte</h5>
                        <a href="http://">En savoir plus</a>
                    </div>
                </div>
                <div class="seperator-img"></div>
            </div>


            <section class="section benefit">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <div class="card z-depth-0">
                                <div class="card-image">
                                    <img src="./analyze_finance.svg" alt="test">
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l6">
                            <h4>Rapidité <span class="lighten">d'action</span></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil consequatur perspiciatis praesentium earum quaerat in ex voluptatum
                                molestias quod. Nemo fugit voluptate nostrum quisquam commodi quo sed voluptatem
                                dolorum possimus.
                                <br><br>
                                <a href="#!">En savoir plus</a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section benefit">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6 description">
                            <h4>Plaisir <span class="lighten">de faire</span></h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Nihil consequatur perspiciatis praesentium earum quaerat in ex voluptatum
                                molestias quod. Nemo fugit voluptate nostrum quisquam commodi quo sed voluptatem
                                dolorum possimus.
                                <br><br>
                                <a href="#!">En savoir plus</a>
                            </p>
                        </div>
                        <div class="col s12 m6 l6">
                            <div class="card z-depth-0">
                                <div class="card-image">
                                    <img src="./content_digital.svg" alt="test">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section team">
                <div class="container">
                    <div class="row">
                        <h4>L'équipe</h4>
                        <div class="col s12 m4 l4">
                            <div class="card-panel">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="teammate-avatar">
                                <h6 class="teammate-name">John PENDENQUE</h6>
                                <p>This is a test</p>
                                <div class="row social">
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-facebook"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="card-panel">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="teammate-avatar">
                                <h6 class="teammate-name">John PENDENQUE</h6>
                                <p>This is a test</p>
                                <div class="row social">
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-facebook"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m4 l4">
                            <div class="card-panel">
                                <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(25).jpg" class="teammate-avatar">
                                <h6 class="teammate-name">John PENDENQUE</h6>
                                <p>This is a test</p>
                                <div class="row social">
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-facebook"></i>
                                    </div>
                                    <div class="col s12 m4 l4">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section separator call-to-action">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m12">
                            <h4>Prêt à commencer ?</h4>
                            <p>
                                Diffusez votre première offre <strong>gratuitement</strong> et commencer
                                à recruter les talents qui vont faire croître votre entreprise
                            </p>
                            <a href="#!" class="btn-large blue lighten-1">Diffuser une offre</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <footer class="page-footer light-blue darken-3">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="" target="_blank">Diffuser une offre</a></p>
                        <p><a href="" target="_blank">Lancer sa boîte</a></li></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="" target="_blank">Candidater à une offre</a></p>
                        <p><a href="" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Réseaux</h5>
                        <div id="contact">
                            <p><i class="material-icons">map</i>165 rue de Bretagne, 5900 Lille</p>
                            <p><i class="material-icons">phone</i>0655346698</p>
                            <p><i class="material-icons">email</i>contact.kurrikulam@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                2019 @entreprise
            </div>
        </footer>
    </body>
</html>