<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ecommerce promotion hero</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./hero.css">
    </head>
    <body>
        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav class="navbar blue darken-3"></nav>
        </div>
        
        <!-- Hero -->
        <!--  style="background-image: url('./Promo-banner3.png');" -->
        <div class="hero">
            <!-- <div class="image" style="height: 100vh; overflow: hidden; width: 100%; background-image: url('./Promo-banner3.png'); background-position: center; background-repeat: no-repeat; background-size: cover;"></div> -->
            <div class="image" style="height: 100vh; overflow: hidden; position: relative;">
                <!-- <img style="width: 100%; height: auto;" src="./a-993w.png" alt="test" srcset="./a-601w.png 320w, ./a-993w.png 480w" sizes="(max-width: 320px) 280px, (max-width: 480px) 440px, 800px"> -->
                <img style="position: absolute; left: 0; top: 0;" src="./a-993w.png">
            </div>
            <div class="hero-wrapper">
                <div class="test" style="position: absolute; top: 578px; left: 168px;">
                    <a href="#!" class="btn-large blue lighten-1">J'en profite</a>
                </div>
            </div>
        </div>
        <p>test</p>
    </body>
</html>