<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
        <title>Hero n°3</title>
    
        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./hero.css">
    
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <nav class="red darken-1">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="#" class="brand-logo">Shop</a>
                    <ul id="nav-mobile" class="hide-on-med-and-down right">
                        <li><a href="#!">Boutique</a></li>
                        <li><a href="#!">A propos</a></li>
                        <li><a href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            <!-- HERO -->
            <div class="hero red darken-3">
                <div class="hero-wrapper">
                    <div class="call-to-action">
                        <div class="lead-stronger">Launch a prototype in seconds</div>
                        <div class="lead-subtitle">Test your startup idea in a few lines of codes</div>
                        <a href="#!" class="btn-large red darken-1">Explore</a>
                    </div>
                </div>
            </div>

            <!-- ICONS -->
            <section class="section section-icons grey lighten-4 center">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">room</i>
                                <h4>Pick Where</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">store</i>
                                <h4>Travel Shop</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">airplanemode_active</i>
                                <h4>Fly Cheap</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    
            
            <!-- GALLERY -->
            <!-- <div class="container"> -->
            <section class="benefits image-tiles contain">
                <div class="image-tile">
                    <a href="#!">
                        <img src="./images/hero1.jpg" alt="hero">
                        <!-- <div class="tile-cover"></div> -->
                    </a>
                </div>
                <div class="image-tile">
                    <img src="./images/hero2.jpg" alt="hero">
                </div>
                <div class="image-tile">
                    <img src="./images/hero3.jpg" alt="hero">
                </div>
                <div class="image-tile">
                    <img src="./images/hero4.jpg" alt="hero">
                </div>
            </section> 
        <!-- </div>        -->
        </main>

        <!-- FOOTER -->
        <footer class="page-footer red darken-1">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="#!" target="_blank">Diffuser une offre</a></p>
                        <p><a href="#!" target="_blank">Lancer sa boîte</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="#!" target="_blank">Candidater à une offre</a></p>
                        <p><a href="#!" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Contact</h5>
                        <div id="contact">
                            <p><i class="material-icons">map</i><a href="https://www.google.com/maps/?q=165 avenue de Bretagne" target="_blank" rel="noopener noreferrer">Avenue de Bretagne</a></p>
                            <p><i class="material-icons">phone</i><a href="tel:+330655346698">0655346698</a></p>
                            <p><i class="material-icons">email</i><a href="mailto:contact.kurrikulam@gmail.com">contact.kurrikulam@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                2019 @entreprise
            </div>
        </footer>
    </body>
</html>