<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>

            <link rel="stylesheet" href="../mat.css">
            <link rel="stylesheet" href="../extended_materialize.css">
            <link rel="stylesheet" href="header.css">
            <link rel="stylesheet" href="hero.css">

            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
        </head>
        <body>
            
            <nav></nav>

            <div class="hero">
                <div class="hero-wrapper">
                    <div class="call-to-action">
                        <div class="lead">Une expérience unique</div>
                        <div class="lead-subtitle">Qui a dit qu'on ne considérait pas les candidats ?</div>

                        <form class="form-cta-email inline">
                            <div class="input-field">
                                <input type="email" name="email" id="email">
                                <button type="submit" class="btn-large waves waves-light-1 blue lighten-1">Register</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <section class="section benefits">
                <section class="section benefit">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12 center">
                                <h5>Ce que nous faisons</h5>
                                <p>
                                    Kurrikulam booste votre prise de décision dans votre quête de la perle rare. 
                                    Fini les pertes de temps dans votre processus de recrutement 
                                    car nous avons la solution pour vous.
                                </p>
                                <a href="#!" class="btn light-blue darken-1">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section benefit separator">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card">
                                    <img src="https://s3.eu-west-3.amazonaws.com/jobswebsite/media/hero/Capture3.jpg" alt="test" class="responsive-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section benefit">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <img src="./images/fashion_1.jpeg" alt="fashion" class="responsive-img">
                                </div>
                            </div>
                            <div class="col s12 m6 l6">
                                <h5>Our projects</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aperiam sapiente delectus totam odio cupiditate fuga, nemo voluptates, 
                                    minus quisquam et tempore assumenda, impedit omnis reiciendis autem sit 
                                    officia esse exercitationem?
                                </p>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section benefit">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m6 l6">
                                <h5>Our amazing team</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Aperiam sapiente delectus totam odio cupiditate fuga, nemo voluptates, 
                                    minus quisquam et tempore assumenda, impedit omnis reiciendis autem sit 
                                    officia esse exercitationem?
                                </p>
                            </div>
                            <div class="col s12 m6 l6">
                                <div class="card">
                                    <img src="./images/fashion_1.jpeg" alt="fashion" class="responsive-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section call-to-action-below">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="card-panel">
                                    <h5>Prêt à commencer ?</h5>
                                    <a href="" class="btn waves-effect waves-light light-blue darken-1" id="cta-below">
                                        Diffuser une annonce gratuitement
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <footer class="page-footer light-blue darken-3">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m4 l4">
                            <h5>Entreprise</h5>
                            <p><a href="" target="_blank">Diffuser une offre</a></p>
                            <p><a href="" target="_blank">Lancer sa boîte</a></li></p>
                        </div>

                        <div class="col s12 m4 l4">
                            <h5>Candidat</h5>
                            <p><a href="" target="_blank">Candidater à une offre</a></p>
                            <p><a href="" target="_blank">Chercher des offres</a></p>
                        </div>

                        <div class="col s12 m4 l4">
                            <h5>Réseaux</h5>
                            <div id="contact">
                                <p><i class="material-icons">map</i>165 rue de Bretagne, 5900 Lille</p>
                                <p><i class="material-icons">phone</i>0655346698</p>
                                <p><i class="material-icons">email</i>contact.kurrikulam@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright">
                    2018
                </div>
            </footer>


            <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
            <script src="hero.js"></script>
        </body>
</html>