<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Cards</title>

        <link rel="stylesheet" href="../../mat.css">
        <link rel="stylesheet" href="../../extended_materialize.css">
        <link rel="stylesheet" href="test.css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 l4">
                    <!-- BOTTOM-UP -->
                    <div class="card special push-up">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="image">
                        </div>
                        <div class="hover-cover-4">
                            <h5>Jupe</h5>
                            <p>Some text here</p>
                        </div>
                    </div>
                    <!-- BOTTOM-UP -->
                </div>

                <div class="col s12 l4">
                    <!-- BOTTOM-UP SOCIAL -->
                    <div class="card special push-up">
                        <div class="discount">15%</div>
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="image">
                        </div>
                        <div class="hover-cover-icons">
                            <a href="#!"><i class="material-icons">shopping_cart</i></a>
                            <a href="#!" id="star"><i class="material-icons">star</i></a>
                            <a href="#!"><i class="material-icons">share</i></a>
                        </div>
                    </div>
                    <!-- BOTTOM-UP SOCIAL -->
                </div>

                <div class="col s12 l4">
                    <!-- ZOOM -->
                    <div class="card special zoom">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                        </div>
                    </div>
                    <!-- ZOOM -->
                </div>

                <div class="col s12 l4">
                    <!-- ZOOM TEXT -->
                    <div class="card special zoom">
                        <div class="card-image">
                            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                        </div>
                
                        <div class="card-cover">
                            <p>
                                John PENDENQUE
                            </p>
                        </div>
                    </div>
                    <!-- ZOOM TEXT -->
                </div>

                <div class="col s12 l4">
                    <!-- SIMPLE FASHION TYPE CARD -->
                    <a href="{% url 'products_stock' %}?cat=femme">
                        <div class="card special centered z-depth-0">
                            <div class="card-image">
                                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="">
                            </div>
                            <div class="text-overlay emphasize">
                                <h4>Homme</h4>
                                <p>This is a great card</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s12 l4">
                    <!-- RIPPLE -->
                    <div class="card special ripple z-depth-1 blue">
                        <h3>Test</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Debitis earum et aliquam accusamus minima possimus inventore 
                            vitae eaque optio modi ipsam autem at numquam, adipisci doloribus 
                            quae quibusdam quod minus!
                        </p>
                    </div>
                </div>

                <div class="col s12 l4">
                    <!-- RIPPLE -->
                    <div class="card special rotate z-depth-1 blue">
                        <div class="front">
                            <p>Test</p>
                        </div>
                        <div class="back grey">
                            <p>Touparet</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="cards.js"></script>
    </body>
</html>