<div class="ecommerce-bar for-mobile">
    <ul>
        <li><a href="#!">Filtrer</a></li>
        <li id="#drawer"><a href="#!">Collections</a></li>
    </ul>
</div>

<div class="ecommerce-bar-drawer" id="drawer">
    <div class="drawer">
        <div class="close">x</div>
        <div class="title">Collections</div>
        <ul>
            <li><a href="#!">Sacs</a></li>
            <li><button>Accessoires</button></li>
            <li><button>Autres</button></li>
        </ul>
    </div>
</div>