<div class="enhanced-minimalist-footer">
    <div class="with-payments">
        <div class="payment-methods">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
        </div>
        <p><i class="material-icons">lock</i>Paiement sécurisés</p>
    </div>

    <div class="with-social">
        <a href="https://www.instagram.com/nawoka_fashion/" target="_blank"><div class="fab fa-instagram"></div></a>
        <a href="https://www.facebook.com/Nawoka-110244253694844/" target="_blank"><div class="fab fa-facebook"></div></a>
    </div>

    <div class="links white-text grey darken-4">
        <a href="{% url 'cgv' %}">Conditions générales</a>
        <a href="{% url 'confidentialite' %}">Confidentialité</a>
    </div>
</div>
