{% load static %}

<section class="section ecommerce-benefits">
    <div class="presentation-grid">
        <div class="presentation">
            <div class="image-background" style="background-image: url({% static 'images/hero/image13.jpg' %});"></div>
            <div class="call-to-action"> 
                <div class="text">Nouveautés</div>
                <a href="{% url 'product_collection' 'whatsnew' %}" class="btn white z-depth-0 black-text" id="link_whats_new">Achetez</a>
            </div>
        </div>
        <div class="presentation">
            <div class="image-background" style="background-image: url({% static 'images/hero/image15.jpg' %});"></div>
            <div class="call-to-action">
                <div class="text">Promotions</div>
                <a href="{% url 'product_collection' 'promos' %}" class="btn white z-depth-0 black-text" id="link_promos">Achetez</a>
            </div>
        </div>
    </div>
</section>