<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Search</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" type="text/css" media="screen" href="../extended_materialize.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="../hero/hero.css" />
        <link rel="stylesheet" href="search.css">
    </head>
    <body>
        <div class="search blue darken-1">
            <form>
                <input type="text" name="search" placeholder="Search">
            </form>
        </div>
    </body>
</html>