<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Mobile version</title>

        <link rel="stylesheet" href="../../mat.css">
        <link rel="stylesheet" href="../../footer.css">
        <link rel="stylesheet" href="../../extended_materialize.css">
        <link rel="stylesheet" href="../ecommerce_custom_grid.css">
        <link rel="stylesheet" href="../ecommerce_bar.css">
    </head>

    <body>
        <!-- Nav -->
        <div class="navbar-fixed">
            <nav class="red darken-1">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="#" class="brand-logo">Shop</a>
                        <ul id="nav-mobile" class="hide-on-med-and-down right">
                            <li><a href="#!">Boutique</a></li>
                            <li><a href="#!">A propos</a></li>
                            <li><a href="#!">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="ecommerce-bar for-mobile">
            <ul>
                <li id="#drawer1">
                    <a href="#!">
                        <i class="material-icons">shopping_basket</i>
                    </a>
                </li>
                <li id="#drawer2">
                    <a href="#!">
                        <i class="material-icons">search</i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="ecommerce-bar-drawer" id="drawer1">
            <div class="drawer">
                <div class="close">x</div>
                <div class="title">Collections</div>
                <ul>
                    <li class="highlighted"><a href="#!">Sacs</a></li>
                    <li class="highlighted"><a href="#!">Promotions</a></li>
                    <li class="highlighted"><a href="#!">Nouveautés</a></li>
                </ul>
            </div>
        </div>

        <div class="ecommerce-bar-drawer" id="drawer2">
            <div class="drawer">
                <div class="close"><span>x</span></div>
                <div>
                    <form class="search">
                        <div class="search-field">
                            <input type="text" name="search" class="browser-default" id="search" placeholder="Rechercher">
                            <div class="btn-search">
                                <a href="#!"><i class="material-icons">search</i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Main -->
        <main>
            <div class="ecommerce container">
                <section class="section product">
                    <!-- Product -->
                    <div id="product">
                        <div class="product-grid">
                            <!-- Side -->
                            <div class="side-images">
                                <div class="images">
                                    <img src="../../../assets/images/image3.jpg" alt="image1">
                                    <img src="../../../assets/images/image4.jpg" alt="image2">
                                </div>
        
                                <div class="information">
                                    <div class="infos">
                                        <div class="price discounted">567€</div>
                                        <div class="discounted-price">147.75€</div>
                                    </div>
                                    <h3>Jupe en lineau</h3>
                                    <p class="description">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                        At consequatur saepe doloribus dicta aut consectetur exercitationem quos 
                                        incidunt ad in temporibus delectus.
                                    </p>
                                    <button href="#!" class="btn-large red darken-3" id="btn_add_to_cart">
                                        <i class="material-icons left">shopping_cart</i>
                                        Ajouter au panier
                                    </button>
                                </div>
                            </div>
        
                            <!-- Details -->
                            <div class="details">
                                <div class="detail">
                                    <h4>Informations article</h4>
                                    <ul class="browser-default">
                                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</li>
                                        <li>Ullam fugit sed qui impedit provident consectetur cumque alias accusantium</li>
                                    </ul>
                                </div>
            
                                <div class="detail">
                                    <h4>Code produit</h4>
                                    COR-ART-ERT7
                                </div>
            
                                <div class="detail">
                                    <h4>Autres</h4>
                                    Matière en laine de coton 100%
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Other products -->
                    <div id="more">
                        <h5>Vous allez aussi adorer</h5>
                        <div class="products">
                            <a href="#!">
                                <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
                            </a>
                            <a href="#!">
                                <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
                            </a>
                            <a href="#!">
                                <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
                            </a>
                            <a href="#!">
                                <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
                            </a>
                        </div>
                    </div>
                </section>
            </div>

            <!-- PAYMENT -->
            <section class="section">
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-paypal"></i>
            </section>
            
            <footer class="page-footer red darken-1">
                <div class="footer-copyright">
                    <p> 2019 @ Entreprise</p>
                    <a href="{% url 'cgv' %}">conditions générales</a>
                    <a href="{% url 'confidentialite' %}">Confidentialité et cookies</a>
                </div>
            </footer>
        </main>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <script src="../ecommerce.js"></script>

        <script>
            // Add to cart
            var addToCart = function() {
                var button = $("#btn_add_to_cart")

                var pushDataLayer = function() {
                    alert("Push DataLayer")
                }
                
                var createAjax = function() {
                    alert("Create AJAX")

                    pushDataLayer()
                }

                var addEvent = function() {
                    button.on("click", createAjax)
                }

                addEvent()
            }

            // Drawer action
            var ecommerceBar = function() {
                var bar = $(".ecommerce-bar")
                var links = bar.find("li")

                var transparentOnScroll = function() {
                    // bar.scroll(function() {
                    //     bar.addClass("transparent-on-scroll")
                    // })
                    console.log(bar.attr("class"))
                }

                var closeDrawer = function(linkiD) {
                    $(linkiD).find(".close").on("click", function() {
                        $(linkiD).css(
                            {
                                "transform": "translateX(310px)"
                            }
                        )
                    })
                }

                var openDrawer = function() {
                    links.each(function(link) {
                        var linkiD = $(this).attr("id")

                        $(this).on("click", function() {
                            $(linkiD).css(
                                {
                                    "transform": "translateX(0px)"
                                }
                            )
                        })
                        closeDrawer(linkiD)
                    })
                }

                openDrawer()
                // transparentOnScroll()
            }

            // Browse images
            var browseImages = function() {
                var images = $(".side-images").find("img")
                var imagesCount = images.length
                var currentIndex = 0

                // var items = $(".s .i")
                
                
                images.each(id => {
                    if (id == 0) {
                        $(images[id]).css({"visibility": "visible"})
                    } else {
                        $(images[id]).css({"visibility": "hidden"})
                    }

                    // items.append(
                    //     "<div class='box'></div>"
                    // )

                    // items.find(".box").first().addClass("active")

                    $(images[id]).on("click", function() {         
                        currentIndex = currentIndex + 1
                        previousIndex = currentIndex - 1

                        if (currentIndex > imagesCount - 1) {
                            currentIndex = currentIndex - currentIndex
                        }

                        if (previousIndex < 0) {
                            previousIndex = 0
                        }
 
                        var currentImage = $(images[currentIndex])
                        var previousImage = $(images[previousIndex])
                        
                        previousImage.css(
                            {
                                "visibility": "hidden",
                            }
                        )

                        currentImage.css(
                            {
                                "visibility": "visible",
                            }
                        )

                        var boxes = $(items).find(".box")
                        
                        $(boxes[currentIndex]).addClass("active")
                        $(boxes[previousIndex]).removeClass("active")
                    })
                })
            }

            ecommerceBar()
            addToCart()
            browseImages()
        </script>
    </body>
</html>