<!-- Other products -->
<div id="more">
    <h5>Vous allez aussi adorer</h5>
    <div class="products">
        <a href="#!">
            <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
        </a>
        <a href="#!">
            <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
        </a>
        <a href="#!">
            <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
        </a>
        <a href="#!">
            <img src="https://ae01.alicdn.com/kf/HTB1ZYWNPkvoK1RjSZFDq6xY3pXaj/ACELURE-Women-Shoulder-Bag-Fashion-Women-Handbags-Oil-Wax-Leather-Large-Capacity-Tote-Bag-Casual-Pu.jpg_640x640.jpg" class="responsive-img" alt="test">
        </a>
    </div>
</div>