<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Our blog</title>

        <link rel="stylesheet" href="../css//fonts.css">
        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="./css/blog.css" />
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="blue darken-1"></nav>
        </div>

        <main>
            <div class="blog">
                <div class="blog-header">
                    <div class="blog-container">
                        <!-- <h2>Material Style Blog</h2> -->
                        <div class="main-title">Material Style Blog</div>
    
                        <!-- Single post -->
                        <div class="content">
                            <div class="content-title">
                                <a href="./post.html"><h5>Just a blog post</h5></a>
                            </div>
    
                            <p class="content-date">26 October, 2014</p>
                            <div class="content-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                                <br><br>
                                Vivamus fermentum semper porta. Nunc 
                                diam velit, adipiscing ut tristique vitae, sagittis 
                                vel odio. Maecenas convallis ullamcorper ultricies. 
                                Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                                iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                                ornare sit amet fermentum et, tincidunt et orci.
                            </div>
                            
                            <!-- Social -->
                            <div class="content-social">
                                <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a href="http://snapchat.com"><i class="fab fa-snapchat"></i></a>
                            </div>
                        </div>
    
                        <div class="content">
                            <div class="content-title">
                                <a href="./post.html"><h5>Just a blog post</h5></a>
                            </div>
    
                            <p class="content-date">26 October, 2014</p>
                            <div class="content-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                                <br><br>
                                Vivamus fermentum semper porta. Nunc 
                                diam velit, adipiscing ut tristique vitae, sagittis 
                                vel odio. Maecenas convallis ullamcorper ultricies. 
                                Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                                iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                                ornare sit amet fermentum et, tincidunt et orci.
                            </div>
                            
                            <div class="content-social">
                                <a href="http://facebook.com" class="link_share_facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://twitter.com" class="link_share_twitter"><i class="fab fa-twitter"></i></a>
                                <a href="http://snapchat.com" class="link_share_snapchat"><i class="fab fa-snapchat"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="page-footer red darken-3">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="" target="_blank">Diffuser une offre</a></p>
                        <p><a href="" target="_blank">Lancer sa boîte</a></li></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="" target="_blank">Candidater à une offre</a></p>
                        <p><a href="" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Réseaux</h5>
                        <div id="contact">
                            <p><i class="material-icons">map</i>165 rue de Bretagne, 5900 Lille</p>
                            <p><i class="material-icons">phone</i>0655346698</p>
                            <p><i class="material-icons">email</i>contact.kurrikulam@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-copyright">
                <p> 2019 @ Startup</p>
                <a href="{% url 'cgv' %}">Conditions générales</a>
                <a href="{% url 'confidentialite' %}">Confidentialité et cookies</a>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="./js/blog.js"></script>
    </body>
</html>