<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Our blog</title>

        <link rel="stylesheet" href="../css//fonts.css">
        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="./css/blog.css" />

        <style>
            .card_items-enter-active {
                transition: all .8s ease-out;
            }
            .card_items-enter {
                opacity: 0;
            }
            .card_items-enter-to {
                opacity: 1;
            }
        </style>
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="blue darken-1"></nav>
        </div>

        <main>
            <div class="blog" id="app">
                <div class="blog-header">
                    <div class="blog-container">
                        <!-- <h2>Material Style Blog</h2> -->
                        <div class="main-title">Material Style Blog</div>
                        
                        <cards v-bind:posts="posts" />
                        <!-- Single post -->
                        <!-- <div class="content">
                            <div class="content-title">
                                <a href="./post.html"><h5>Just a blog post</h5></a>
                            </div>
    
                            <p class="content-date">26 October, 2014</p>
                            <div class="content-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                                <br><br>
                                Vivamus fermentum semper porta. Nunc 
                                diam velit, adipiscing ut tristique vitae, sagittis 
                                vel odio. Maecenas convallis ullamcorper ultricies. 
                                Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                                iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                                ornare sit amet fermentum et, tincidunt et orci.
                            </div>
                            
                            <div class="content-social">
                                <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                                <a href="http://snapchat.com"><i class="fab fa-snapchat"></i></a>
                            </div>
                        </div>
    
                        <div class="content">
                            <div class="content-title">
                                <a href="./post.html"><h5>Just a blog post</h5></a>
                            </div>
    
                            <p class="content-date">26 October, 2014</p>
                            <div class="content-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                                <br><br>
                                Vivamus fermentum semper porta. Nunc 
                                diam velit, adipiscing ut tristique vitae, sagittis 
                                vel odio. Maecenas convallis ullamcorper ultricies. 
                                Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                                iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                                ornare sit amet fermentum et, tincidunt et orci.
                            </div>
                            
                            <div class="content-social">
                                <a href="http://facebook.com" class="link_share_facebook"><i class="fab fa-facebook-f"></i></a>
                                <a href="http://twitter.com" class="link_share_twitter"><i class="fab fa-twitter"></i></a>
                                <a href="http://snapchat.com" class="link_share_snapchat"><i class="fab fa-snapchat"></i></a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </main>

        <!-- VUE JS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="./js/blog.js"></script>
    </body>
</html>