<!DOCTYPE html>
<html lang="fr">
    <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
            <title>Blog posts</title>

            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    
            <link rel="stylesheet" href="../mat.css">
            <link rel="stylesheet" href="../extended_materialize.css">
            <link rel="stylesheet" href="blog.css" />
            </head>
    </head>
    <body>

        <!-- START Blog -->
        <div class="blog">
            <div class="blog-header">
                <div class="blog-container">
                    <h2>Material Style Blog</h2>

                    <div class="content">
                        <div class="content-title">
                            <a href="./post.html"><h5>Just a blog post</h5></a>
                        </div>

                        <p class="content-date">26 October, 2014</p>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                            Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                            <br />
                            Vivamus fermentum semper porta. Nunc 
                            diam velit, adipiscing ut tristique vitae, sagittis 
                            vel odio. Maecenas convallis ullamcorper ultricies. 
                            Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                            iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                            ornare sit amet fermentum et, tincidunt et orci.
                        </div>

                        <div class="content-social">
                            <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://snapchat.com"><i class="fab fa-snapchat"></i></a>
                        </div>
                    </div>

                    <div class="content">
                        <div class="content-title">
                            <a href="./post.html"><h5>Just a blog post</h5></a>
                        </div>

                        <p class="content-date">26 October, 2014</p>
                        <div class="content-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Donec a diam lectus. Donec ut libero sed arcu vehicula ultricies a non tortor. 
                            Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. 
                            <br />
                            Vivamus fermentum semper porta. Nunc 
                            diam velit, adipiscing ut tristique vitae, sagittis 
                            vel odio. Maecenas convallis ullamcorper ultricies. 
                            Curabitur ornare, ligula semper consectetur sagittis, nisi diam 
                            iaculis velit, id fringilla sem nunc vel mi. Quisque mi metus, 
                            ornare sit amet fermentum et, tincidunt et orci.
                        </div>
                        
                        <div class="content-social">
                            <a href="http://facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a href="http://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a href="http://snapchat.com"><i class="fab fa-snapchat"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Blog -->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="blog.js"></script>
    </body>
</html>