<ul id="slide-out" class="sidenav sidenav-fixed has-fixed-sidenav hide-on-med-and-down">
    <li class="logo-container">
        <a href="{% url 'dashboard' %}"><i class="material-icons">spa</i>Dashboard</a>
    </li>
    <!-- <li><a href="{% url 'dashboard' %}">Test</a></li> -->

    <!-- <li><div class="divider"></div></li> -->
    
    <li><a href="./editor.html">Produits</a></li>
    <li><a href="./sidenav.html">Commandes</a></li>
    <li><a href="{% url 'settings' %}">Paramètres</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger">
    <i class="material-icons">menu</i>
</a>
