<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../css/mat.css">
        <link rel="stylesheet" href="../../css/extended_materialize.css">
        <link rel="stylesheet" href="../../css/fonts.css">
        <link rel="stylesheet" href="products_tests.css">
        <title>Products</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <section class="ecommerce">
                    <div class="grid" id="products">
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                    <div class="banner">Exclusive</div>
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details">
                                        <div class="price">295€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                    <div class="discount-pct grey darken-2">-52%</div>
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details with-discount">
                                        <div class="price">123€</div>
                                        <div class="discounted-price">275€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details">
                                        <div class="price">385€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                    <div class="discount-pct grey darken-2">-52%</div>
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details with-discount">
                                        <div class="price">302€</div>
                                        <div class="discounted-price">132€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details">
                                        <div class="price">245€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="product">
                            <a href="product.html">
                                <div class="image">
                                    <img src="../../images/image4.jpg" alt="image3">
                                </div>
                                <div class="details">
                                    <div class="title">Jupe en talon</div>
                                    <div class="price-details">
                                        <div class="price">245€</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>    
                </section>
            </div>
        </div>
    </body>
</html>