/*
 * CSS file for styling all the banners
 */

@import "../css/variables.scss";

%ul_for_bar {
    overflow: hidden;
    margin: 0;
}

@mixin li_for_bar($mobile) {
    @if $mobile == "True" {
        float: right;
    } @else {
        float: left;
    }
    
    transition: background-color .3s ease-in-out;
    
}

@mixin link_for_bar($padding_size) {
    a {
        display: block;
        color: white;
        padding: $padding_size;
    }
}

%drawer_collection_link {

}

.ecommerce-header {
    .sales-info-bar {
        background-color: rgba($color: #b0bcc2, $alpha: 1.0);
        color: white;
        height: 50px;
        // text-align: center;

        p {
            font-weight: 600;
        }

        .container {
            max-height: 100%;
            
            .row {
                margin-bottom: 0;
                // vertical-align: middle;

                .col {
                    max-height: 50px;
                    display: flex;
                    flex-direction: row;
                    
                    i {
                        font-size: 2rem;
                        margin-right: .5rem;
                        vertical-align: middle;
                        line-height: 1.75;
                    }
                }
            }
        }
    }
}

// BAR
.ecommerce-bar {
    background-color: $secondary_color;
    z-index: -999;
    min-height: 46px;
    text-transform: uppercase;
    font-size: 14px;

    &.transparent-on-scroll {
        position: fixed;
        z-index: 99;
        width: 100%;
    }
    
    ul {
        @extend %ul_for_bar;
        
        li {
            @include li_for_bar("False");

            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &.best-offers {
                background-color: $highlight_color;

                &:hover {
                    background-color: rgba($color: $highlight_color, $alpha: .5);
                }
            }
            
            @include link_for_bar(18px);
        }
    }

    &.for-mobile {
        ul {
            @extend %ul_for_bar;

            li {
                @include li_for_bar("True");
                
                @include link_for_bar(10px);

                i.material-icons {
                    line-height: 1;
                }
            }
        }
    }

    &.for-filters {
        color: white;
        text-transform: uppercase;
        
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            text-align: center;

            .filter {
                position: relative;
                padding: .25rem;
                height: 46px;
                width: 100px;
                vertical-align: middle;
                line-height: 38px;

                i {
                    position: absolute;
                    color: inherit;
                    line-height: inherit;
                    padding-left: .35rem;
                }
            }
        }
    }
}

// DRAWERS
.ecommerce-bar-drawer {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 9999;
    width: 310px;
    transition: all .3s ease-in-out;
    backface-visibility: hidden;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    transform: translateX(312px);
    opacity: 0;

    .drawer {
        width: 100%;

        .actions {
            display: flex;
            flex-direction: row;
            justify-content: left;
            height: auto;
            margin-bottom: 2rem;
            font: {
                weight: 700;
                size: 1.2rem;
            }
            text-transform: uppercase;
            padding: 1rem;

            :last-child {
                margin-left: 1rem;
            }
        }
        
        .wrapper {
            &.search {
                display: grid;
                grid-template-rows: repeat(2, min-content);
                
                * {
                    padding: .25rem;
                }
                
                .close {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    font-weight: 700;
                }

                .search {
                    display: block;
    
                    input {
                        width: 95%;
                        padding: 1rem;
                        border: 1px solid rgba(0, 0, 0, 0.4);
                        margin-bottom: .75rem;
                    }
                } 
            }
            
            ul {
                margin-top: 0;
    
                li {
                    font-size: 1rem;
                    padding: 0 1rem 0 1rem;
                    
                    &.highlighted {
                        margin-bottom: 1rem;
                        vertical-align: middle;
                        
                        &:last-child {
                            margin-bottom: 0rem;
                        }

                        a {
                            background-color:#eee;                        
                            text-transform: uppercase;
                            padding: .75rem;
                        }
                    }
    
                    a, button {
                        display: block;
                        width: 100%;
                        height: 50px;
                        text-rendering: auto;
                        color: inherit;
                        // background-color: white;
                        box-shadow: none;
                        border: none;
                        text-align: left;
                        padding: 0;
                        font-weight: 500;
                        padding: 0 0 1rem 0;
                    }
                }
            }
        }
    }        
}        

// Promotion banner
.promotion-banner {
    position: relative;
    top: 0;
    height: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 2rem;
    background-color: $highlight_color;

    &.smaller {
        padding: .75rem;
        font-size: 1rem;
        color: white;
    }
    
    a {
        @extend %links;
        
        .big-title {
            margin-bottom: .35rem;
        }
        
        .presentation {
            font-style: italic;
            text-transform: uppercase;
        }

        .legal {
            font-size: .75rem;
            padding: .25rem;
            font-weight: 400;
        }
    }
}
