/*
 * Styling of the specific ecommerce components:
 * products and product page, cart
 */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");
html {
  font-family: "Lato", sans-serif;
}

html p, html a, html li, html span, html input,
html .content-text, html .content-tags .chip,
html .hover-cover {
  font-family: "Lato", sans-serif;
}

html .product .banner {
  font-family: "Oswald", sans-serif;
}

html .details .price {
  font-family: "Oswald", sans-serif;
}

html .infos .price {
  font-family: "Oswald", sans-serif;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid #888;
}

.ecommerce, .section.latest-products {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.ecommerce .grid#products .product .image img, .section.latest-products .grid#products .product .image img {
  width: 100%;
  height: auto;
}

.card-link, .ecommerce .grid#products .product a, .section.latest-products .grid#products .product a, .ecommerce .grid#product .more a, .section.latest-products .grid#product .more a {
  color: inherit;
}

.ecommerce, .section.latest-products {
  margin: 0 auto;
  max-width: 1280px;
}

@media only screen and (min-width: 301px) {
  .ecommerce, .section.latest-products {
    width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce, .section.latest-products {
    width: 90%;
  }
}

.ecommerce .grid#product .breadcrumbs, .section.latest-products .grid#product .breadcrumbs, .ecommerce .grid#product .side-images, .section.latest-products .grid#product .side-images, .ecommerce .grid#product .main-image, .section.latest-products .grid#product .main-image, .ecommerce .grid#product .information, .section.latest-products .grid#product .information, .ecommerce .grid#product .details, .section.latest-products .grid#product .details, .ecommerce .grid#product .more, .section.latest-products .grid#product .more {
  background-color: white;
}

.ecommerce .grid#products .product .image img, .section.latest-products .grid#products .product .image img {
  width: 100%;
  height: auto;
}

.card-link, .ecommerce .grid#products .product a, .section.latest-products .grid#products .product a, .ecommerce .grid#product .more a, .section.latest-products .grid#product .more a {
  color: inherit;
}

.section#cart_success i, .section#cart_empty i {
  font-size: 2rem;
}

.ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
  font-weight: 700;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .details .price-details .price, .section.latest-products .grid#products .product .details .price-details .price {
    font-size: 1rem;
  }
}

.ecommerce .grid#products .product .details .price-details .discounted-price, .section.latest-products .grid#products .product .details .price-details .discounted-price {
  text-decoration: line-through;
}

.ecommerce .grid#products .product, .section.latest-products .grid#products .product {
  overflow: hidden;
}

.ecommerce .grid#products .product .image, .section.latest-products .grid#products .product .image {
  position: relative;
  overflow: hidden;
}

.ecommerce .grid#products .product .image img, .section.latest-products .grid#products .product .image img {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products .product .image img:hover, .section.latest-products .grid#products .product .image img:hover {
    opacity: .7;
  }
}

.ecommerce .grid#products .product .image .discount-pct, .section.latest-products .grid#products .product .image .discount-pct {
  position: absolute;
  color: white;
  top: 0;
  right: 0;
  height: 35px;
  width: 45px;
  padding: .25rem;
  font-weight: 700;
  font-size: .9rem;
  text-align: center;
  line-height: 2;
}

.ecommerce .grid#products .product .image .banner, .section.latest-products .grid#products .product .image .banner {
  position: absolute;
  bottom: 5px;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  width: 100%;
  background-color: #eee;
}

.ecommerce .grid#products .product .details, .section.latest-products .grid#products .product .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ecommerce .grid#products .product .details .title, .section.latest-products .grid#products .product .details .title {
  line-height: 25px;
}

.ecommerce .grid#products .product .details .price-details, .section.latest-products .grid#products .product .details .price-details {
  line-height: 25px;
}

.ecommerce .grid#products .product .details .price-details .discounted-price, .section.latest-products .grid#products .product .details .price-details .discounted-price {
  margin-left: .75rem;
}

.ecommerce .grid#products .product .details .price-details.with-discount, .section.latest-products .grid#products .product .details .price-details.with-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.ecommerce p.section-title, .section.latest-products p.section-title {
  text-align: center;
  font-weight: 700;
}

.ecommerce .product-count, .section.latest-products .product-count {
  color: #c7c7c7;
}

@media only screen and (min-width: 301px) {
  .ecommerce, .section.latest-products {
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce, .section.latest-products {
    padding-top: 1rem;
  }
}

.ecommerce .grid#product, .section.latest-products .grid#product {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product, .section.latest-products .grid#product {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "breadcrumbs" "side-images" "information" "details" "more";
    grid-row-gap: 5px;
    background-color: #fafafa;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product, .section.latest-products .grid#product {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs" "side-images main-image main-image main-image information" "details details details details details" "more more more more more";
    background-color: white;
  }
}

.ecommerce .grid#product .breadcrumbs, .section.latest-products .grid#product .breadcrumbs {
  grid-area: breadcrumbs;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .85rem;
  padding: 1rem .45rem;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb, .section.latest-products .grid#product .breadcrumbs .breadcrumb {
  color: inherit;
  font-size: 12px;
  text-transform: uppercase;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb:last-child, .section.latest-products .grid#product .breadcrumbs .breadcrumb:last-child {
  color: #c7c7c7;
}

.ecommerce .grid#product .breadcrumbs .breadcrumb:before, .section.latest-products .grid#product .breadcrumbs .breadcrumb:before {
  color: inherit;
  line-height: 1;
  font-size: 1.5rem;
}

.ecommerce .grid#product .side-images, .section.latest-products .grid#product .side-images {
  grid-area: side-images;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .side-images, .section.latest-products .grid#product .side-images {
    min-height: 380px;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .side-images img, .section.latest-products .grid#product .side-images img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .side-images img, .section.latest-products .grid#product .side-images img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 80px;
    max-height: 80px;
    cursor: pointer;
  }
  .ecommerce .grid#product .side-images img:hover, .section.latest-products .grid#product .side-images img:hover {
    opacity: .7;
  }
  .ecommerce .grid#product .side-images img:not(:first-child), .section.latest-products .grid#product .side-images img:not(:first-child) {
    margin-top: .25rem;
  }
}

.ecommerce .grid#product .main-image, .section.latest-products .grid#product .main-image {
  grid-area: main-image;
}

.ecommerce .grid#product .main-image .image, .section.latest-products .grid#product .main-image .image {
  overflow: hidden;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .main-image .image, .section.latest-products .grid#product .main-image .image {
    max-height: auto;
    max-width: 100%;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .main-image .image, .section.latest-products .grid#product .main-image .image {
    width: 600px;
  }
}

.ecommerce .grid#product .main-image img, .section.latest-products .grid#product .main-image img {
  width: 100%;
  height: auto;
}

.ecommerce .grid#product .information, .section.latest-products .grid#product .information {
  grid-area: information;
  padding: 0 .45rem;
}

.ecommerce .grid#product .information h4, .section.latest-products .grid#product .information h4 {
  font-weight: 300;
  font-size: 2rem;
  margin: 0 0 .25rem 0;
}

.ecommerce .grid#product .information .infos, .section.latest-products .grid#product .information .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ecommerce .grid#product .information .infos .price, .section.latest-products .grid#product .information .infos .price {
  font-weight: 700;
  font-size: 1.75rem;
}

.ecommerce .grid#product .information .infos .discounted-price, .section.latest-products .grid#product .information .infos .discounted-price {
  line-height: 3;
  margin-left: .75rem;
  text-decoration: line-through;
}

.ecommerce .grid#product .information .other-details .color > span, .ecommerce .grid#product .information .other-details .size > span, .section.latest-products .grid#product .information .other-details .color > span, .section.latest-products .grid#product .information .other-details .size > span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .85rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .information .other-details, .section.latest-products .grid#product .information .other-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .ecommerce .grid#product .information .other-details div:last-child, .section.latest-products .grid#product .information .other-details div:last-child {
    margin-left: .75rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .information .other-details, .section.latest-products .grid#product .information .other-details {
    display: block;
  }
  .ecommerce .grid#product .information .other-details div:last-child, .section.latest-products .grid#product .information .other-details div:last-child {
    margin-left: 0;
  }
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .information #btn_add_to_cart, .section.latest-products .grid#product .information #btn_add_to_cart {
    margin: 2.5rem 0 2.5rem 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .information #btn_add_to_cart, .section.latest-products .grid#product .information #btn_add_to_cart {
    margin: 2.5rem 0 0 0;
  }
}

.ecommerce .grid#product .information .policies, .section.latest-products .grid#product .information .policies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.ecommerce .grid#product .information .policies .policy, .section.latest-products .grid#product .information .policies .policy {
  width: 100px;
  padding: 1rem;
}

.ecommerce .grid#product .information .policies .policy:first-child, .section.latest-products .grid#product .information .policies .policy:first-child {
  padding-left: 0;
}

.ecommerce .grid#product .information .policies .policy i, .section.latest-products .grid#product .information .policies .policy i {
  font-size: 28px;
}

.ecommerce .grid#product .details, .section.latest-products .grid#product .details {
  grid-area: details;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .details, .section.latest-products .grid#product .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .details, .section.latest-products .grid#product .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.ecommerce .grid#product .details .detail > p, .section.latest-products .grid#product .details .detail > p {
  text-transform: uppercase;
  font-weight: 700;
  color: #c7c7c7;
  margin-top: 1rem;
}

.ecommerce .grid#product .more, .section.latest-products .grid#product .more {
  grid-area: more;
}

.ecommerce .grid#product .more h4, .section.latest-products .grid#product .more h4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 2.75rem 0 2.75rem 0;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .more h4, .section.latest-products .grid#product .more h4 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .more h4, .section.latest-products .grid#product .more h4 {
    font-size: 1.5rem;
  }
}

.ecommerce .grid#product .more .images, .section.latest-products .grid#product .more .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#product .more .images, .section.latest-products .grid#product .more .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .grid#product .more .images .image, .section.latest-products .grid#product .more .images .image {
    overflow: hidden;
  }
  .ecommerce .grid#product .more .images .image img, .section.latest-products .grid#product .more .images .image img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#product .more .images, .section.latest-products .grid#product .more .images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ecommerce .grid#product .more .images .image, .section.latest-products .grid#product .more .images .image {
    overflow: hidden;
  }
  .ecommerce .grid#product .more .images .image:not(:first-child), .section.latest-products .grid#product .more .images .image:not(:first-child) {
    margin: 0 0 0 .25rem;
  }
  .ecommerce .grid#product .more .images .image img, .section.latest-products .grid#product .more .images .image img {
    max-width: 250px;
    max-height: 250px;
  }
  .ecommerce .grid#product .more .images .image .details, .section.latest-products .grid#product .more .images .image .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ecommerce .grid#product .more .images .image .details .price, .section.latest-products .grid#product .more .images .image .details .price {
    font-weight: 700;
  }
}

.ecommerce .grid#products, .section.latest-products .grid#products {
  display: -ms-grid;
  display: grid;
}

@media only screen and (min-width: 301px) {
  .ecommerce .grid#products, .section.latest-products .grid#products {
    -ms-grid-columns: (minmax(80px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(80px, 1fr));
    grid-gap: 4px;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce .grid#products, .section.latest-products .grid#products {
    -ms-grid-columns: (minmax(200px, 1fr))[4];
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 15px;
  }
}

.section#cart .cart_product {
  margin: 0;
  padding: 1rem;
  border: 1px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section#cart .cart_product:not(:first-child) {
  border-top: none;
}

.section#cart .cart_product button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.section#cart .details {
  padding: 1rem;
}

.section#cart .details p {
  margin: 0;
}

.section#cart .details p.delivery {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.section#cart .details p.total {
  padding-top: 1rem;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.section#cart_success i {
  font-size: 4rem;
}

.section#cart_success p {
  margin-top: 2.2rem;
  margin-bottom: 2.2rem;
}

.section#cart_success #order-reference {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
}

.section#cart_empty .message {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.85);
  margin: 2.2rem 0 2.2rem 0;
}

.cart-drawer {
  position: fixed;
  z-index: 9999;
  right: 0;
  background-color: white;
  width: 400px;
  height: 100%;
  text-align: left;
  padding: 1rem;
}

.cart-drawer .drawer .drawer-title {
  margin-right: 0;
  padding: 1rem 0 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}

.cart-drawer .drawer .product {
  border-bottom: 1px solid #eee;
}

.cart-drawer .drawer .product .details {
  padding: 1rem 0 1rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
      grid-template-areas: "image title price" "image title price" "image removelink price";
}

.cart-drawer .drawer .product .details .product-title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: title;
  color: black;
  font-size: .9rem;
}

.cart-drawer .drawer .product .details .product-title .title {
  font-weight: 600;
  text-transform: uppercase;
}

.cart-drawer .drawer .product .details .product-title .reference {
  font-weight: 300;
}

.cart-drawer .drawer .product .details .product-price {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: price;
  grid-row-start: 1;
  grid-row-end: 3;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: right;
}

.cart-drawer .drawer .product .details .product-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  width: 150px;
  height: 150px;
}

.cart-drawer .drawer .product .details .product-image img {
  width: 150px;
  height: auto;
}

.cart-drawer .drawer .product .details .remove-link {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: removelink;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  text-transform: uppercase;
  font-weight: 600;
  color: #eee;
  margin: 0;
  text-decoration: underline;
  cursor: pointer;
}

.cart-drawer .drawer .sub-total {
  margin-right: 0;
  padding: 1rem 0 1rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-drawer .drawer .btn-checkout {
  width: 100%;
  margin-top: 3rem;
}
/*# sourceMappingURL=ecommerce_grid.css.map */