$color: rgba(0, 0, 0, .9);

%round_button {
    border-radius: 35px;
    background-color: white;
    color: $color;
}

.btn {
    &, &-medium, &-large {
        &.round {
            @extend %round_button;

            &:hover {
                background-color: rgba(0, 0, 0, .03)
            }

            i {
                color: inherit;
            }
        }
    }
}

.btn-group {
    .btn {
        &, &-large, &-medium {
            &:not(:first-child) {
                margin: 0 0 0 1rem;
            }
        }
    }
}

.col {
    .btn-group {
        .btn {
            &, &-large, &-medium {
                display: block;
                width: 100%;
                margin: 1rem 0 0 0;
                
                @media only screen and (max-width: 301px) {
                    display: block;
                    width: 100%;
                    margin: 1rem 0 0 0;    
                }
                
                @media only screen and (max-width: 993px) {
                    width: auto;
                    margin: 0 0 0 1rem;
                }                
            }
        }
    }
}