<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Round buttons</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./buttons.css">
    </head>
    <body>
        <main>
            <div class="container">
                <!-- Single -->
                <div class="row">
                    <button class="btn-large round">Press</button>
                    <button class="btn-large round">
                        <i class="material-icons left">more_vert</i>
                        Press
                    </button>
                </div>

                <!-- Group -->
                <div class="row">
                    <div class="btn-group">
                        <button class="btn-large round">Press</button>
                        <button class="btn-large round">
                            <i class="material-icons left">more_vert</i>
                            Press
                        </button>
                    </div>
                </div>
                
                <!-- Responsive -->
                <div class="row">
                    <div class="col s8 m8 l8">
                        <div class="btn-group">
                            <button class="btn-large round">Press</button>
                            <button class="btn-large round">
                                <i class="material-icons left">more_vert</i>
                                Press
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>