<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Stripe</title>

        <link rel="stylesheet" href="../mat.css">
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col s12 l6 m6 offset-l2">
                    <div class="card-panel">
                        <form action="/charge/" method="POST" id="payment_form">
                            <div class="input-field">
                                <div id="card_number"></div>
                            </div>
        
                            <div class="input-field">
                                <div id="card_expiry"></div>
                            </div>
        
                            <div class="input-field">
                                <div id="card_cvc"></div>
                            </div>
                            <button class="btn">Submit Payment</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        
        <script>
            $(document).ready(function(){
                $('select').formSelect();
            });
        </script>
        
        <script src="https://js.stripe.com/v3/"></script>

        <script>
            var stripe = Stripe('pk_test_eo8zzqww6iuVFzWmLQEJ4F7K');
            var elements = stripe.elements();

            var style = {
                base: {
                    backgroundColor: 'transparent',
                    borderBottom: '1px solid #9e9e9e', 
                    fontFamily: 'sans-serif',
                    fontSize: '16px',
                    lineHeight: '1.15',
                    outline: 'none'
                }
            };

            var cardNumber = elements.create('cardNumber', {style: style});
            var cardExpiry = elements.create('cardExpiry', {style: style});
            var cardCvc = elements.create('cardCvc', {style: style});

            cardNumber.mount('#card_number');
            cardExpiry.mount('#card_expiry');
            cardCvc.mount('#card_cvc');
        </script>
    </body>
</html>