@import "./var/variables.scss";

.drop-enter-active {
    transition: all .4s ease;
}

.drop-enter {
    transform: translateY(10px);
    opacity: 0;
}

.drop-enter-to {
    transform: translateY(0px);
    opacity: 1;
}

.drop-leave-to {
    transition: all .2s ease
}

.drop-leave {
    transform: translateY(0px);
    opacity: 1;
}

.drop-leave-to {
    transform: translateY(10px);
    opacity: 0;
}

$nav_height: 100px;

.fixed-ecommerce-nav {
    position: relative;
    z-index: 997;

    .search-bar {
        position: absolute;
        padding: 1rem;
        background-color: white;
        width: 100%;
        
        @media only screen and (min-width: 301px) {
            top: 100px;
            height: 200px;
            opacity: .8;
        }
        
        @media only screen and (min-width: 993px) {
            top: 80px;
            height: 80px;
            opacity: 1;
        }
        
        .wrapper {
            position: relative;
            text-align: center;
            height: 100%;

            i {
                position: absolute;
                width: 50px;
                top: 50px;
            }

            input {
                @media only screen and (min-width: 301px) {
                    width: 100%;
                    opacity: 1;
                    margin: 3rem auto;
                }
                
                @media only screen and (min-width: 993px) {
                    width: 50%;
                    opacity: 1;
                    margin: 0;

                }

                padding: .85rem;
                max-width: 70%;
            }
        }
    }

    .dropdown {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        position: absolute;
        top: 110px;
        left: 0;
        width: 100%;
        color: black;
        background-color: white;
        height: 300px;
        padding: 2rem;
        z-index: 9999;

        .section {
            grid-auto-columns: 100px;
            // background-color: red;
            padding: 1rem;

            ul {
                margin: 0;

                li {
                    padding-top: .45rem;
                    padding-bottom: .45rem;
                }
            }
        }
    }
}
        
.ecommerce-header {
    .fixed-ecommerce-nav {
        // position: fixed;
        // width: 100%;

        a {
            color: black;
        }

        .ecommerce-nav {
            position: relative;
            height: $nav_height;
            line-height: $nav_height;
            width: 100%;
            background-color: white;
            color: black;
            text-transform: uppercase;
            font-size: 2rem;

            .nav-wrapper {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .brand-logo {
                    display: block;
                    line-height: $nav_height;
                    font: {
                        size: 1.5rem;
                        weight: 700;
                    };
                    padding: 0 20px;
                }

                ul {
                    margin: 0;

                    li {
                        display: inline-block;

                        a {
                            display: block;
                            padding: 0 20px;
                            line-height: $nav_height;
                        }
                    }
                }
            }
    
            // .nav-wrapper {
            //     display: flex;
            //     flex-direction: row;
            //     flex-wrap: wrap;
            //     justify-content: space-between;
            //     margin: 0 auto;
            //     z-index: 1;
                
            //     @media only screen and (min-width: 301px) {
            //         max-width: 90%;
            //     }
    
            //     @media only screen and (min-width: 993px) {
            //         max-width: 70%;
            //     }
    
            //     .brand-logo {
            //         // line-height: 100px;
            //         text-transform: uppercase;
            //         font: {
            //             weight: 700;
            //             size: 20px;
            //         }
            //         color: black;
            //         height: 100%;
            //     }
        
            //     .sidenav-trigger {
            //         height: 100%;
            //     }    
                
            //     ul {
            //         margin: 0;
            //         text-transform: capitalize;
            //         font-weight: 600;
        
            //         li {
            //             position: relative;
            //             display: inline-block;
            //             height: 100%;
            //             transition: all .4s ease;
        
            //             a {
            //                 display: block;
            //                 height: 100%;
            //                 padding: 1rem;
            //                 color: black;
            //                 padding: 0 15px;
            //                 cursor: pointer;
            //                 font-size: 17px;
            //                 text-transform: uppercase;
    
            //                 @media only screen and (min-width: 993px) {
            //                     &:hover {
            //                         color: blue;
            //                     }                            
            //                 }
            //             }
            //         }
            //     }
            // }
        }
    }
}

.page-footer, .minimalist-footer {
    a {
        @extend %links;
    }

    margin-top: 4rem;

    h5 {
        margin-bottom: 2rem;
    }

    &.with-policies {
        padding-top: 0;

        .policies {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            color: black;
            height: auto;
            padding: {
                top: 1rem;
                bottom: 1rem;
            };
            font-size: 2rem;
            margin-bottom: 2rem;
            border-top: 1px solid #9e9e9e;
            background-color: white;

            div {
                // margin-right: 4rem;

                &.payments {
                    color: #9e9e9e;
                }

                i {
                    padding: {
                        right: 1rem;
                        left: 1rem;
                    }

                }
    
                &:first-child {
                    // border-right: 1px solid grey;
                    margin-right: 1rem;
                }

                &:last-child {
                    margin-left: 1rem;
                }
            }    
        }
    }

    .footer-copyright {
        display: flex;
        
        @media only screen and (min-width: 301px) {
            flex-direction: column;
            padding: 1rem;
        }

        @media only screen and (min-width: 993px) {
            flex-direction: row;
            justify-content: center;
            padding: 1rem;
        }

        p {
            margin: 0;
        }

        * {
            margin: {
                left: 1rem;
                right: 1rem;
            };
        }
    }
}