<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Slider</title>

        <link rel="stylesheet" href="../mat.css">
        <link rel="stylesheet" href="../extended_materialize.css">
        <link rel="stylesheet" href="./slider.css">
    </head>
    <body>
        <header class="s">
            <div class="slider-container">
                <img src="../../assets/images/image5.jpg" id="1" class="responsive-img" alt="image">
                <img src="../../assets/images/image6.jpg" id="2" class="responsive-img" alt="image">
                <img src="../../assets/images/image7.jpg" id="3" class="responsive-img" alt="image">
            </div>
            <div class="i"></div>
        </header>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script>
            var slideImages = function() {
                var images = $(".s .slider-container").find("img")
                var imagesCount = images.length
                var currentIndex = 0

                var items = $(".s .i")
                
                
                images.each(id => {
                    if (id == 0) {
                        $(images[id]).css({"visibility": "visible"})
                    } else {
                        $(images[id]).css({"visibility": "hidden"})
                    }

                    items.append(
                        "<div class='box'></div>"
                    )

                    items.find(".box").first().addClass("active")

                    $(images[id]).on("click", function() {         
                        currentIndex = currentIndex + 1
                        previousIndex = currentIndex - 1

                        if (currentIndex > imagesCount - 1) {
                            currentIndex = currentIndex - currentIndex
                        }

                        if (previousIndex < 0) {
                            previousIndex = 0
                        }
 
                        var currentImage = $(images[currentIndex])
                        var previousImage = $(images[previousIndex])
                        
                        previousImage.css(
                            {
                                "visibility": "hidden",
                            }
                        )

                        currentImage.css(
                            {
                                "visibility": "visible",
                            }
                        )

                        var boxes = $(items).find(".box")
                        
                        $(boxes[currentIndex]).addClass("active")
                        $(boxes[previousIndex]).removeClass("active")
                    })
                })
            }
            slideImages()
        </script>
    </body>
</html>