<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Cards</title>

        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="./css/cards.css" />
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="blue darken-4">
                <div class="container">
                    <ul class="right">
                        <li><a href="./cards.html">Classic</a></li>
                        <li><a href="./ecommerce.html">Ecommerce</a></li>
                        <li><a href="./cards.html">Others</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <main>
            <section class="section">
                <div class="container">
                    <div class="row">    

                        <!-- WITH HEADERS -->
                        <div class="col s12 l4">
                            <div class="card">
                                <div class="card-header">
                                    Kendall is love
                                </div>
                                <div class="card-content">
                                    Kendall is such a beautiful woman that the world has a
                                    very hard time handling the wars she create for her fame
                                </div>
                            </div>
                        </div>
                        <!-- WITH HEADERS -->
                    </div>
                    <div class="row">
                        <!-- FIXED -->
                        <!-- <div class="col s12 l4">
                            <div class="card special">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="image">
                                </div>
                                <div class="fixed-hover-cover">
                                    <h5>Paysage du Maroc</h5>
                                    <p>Mer de plage dorée du Maroc</p>
                                </div>
                            </div>
                        </div> -->
                        <!-- FIXED -->

                        <!-- BOTTOM-UP -->
                        <div class="col s12 l4">
                            <div class="card special push-up">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample17.jpg" alt="image">
                                </div>
                                <div class="hover-cover">
                                    <h5>Paysage du Maroc</h5>
                                    <p>Mer de plage dorée du Maroc</p>
                                </div>
                            </div>
                        </div>
                        <!-- BOTTOM-UP -->
        
                        <!-- BOTTOM-UP IMAGE -->
                        <div class="col s12 l4">
                            <div class="card special push-up-with-image">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample10.jpg" alt="image">
                                </div>
                                <div class="hover-cover">
                                    <h5>Startup Nation</h5>
                                    <p>Entreprise de mode</p>
                                </div>
                            </div>
                        </div>
                        <!-- BOTTOM-UP IMAGE -->

                        <!-- BOTTOM-UP SOCIAL -->
                        <div class="col s12 l4">
                            <div class="card special push-up">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="image">
                                </div>
                                <div class="hover-cover-icons">
                                    <a href="#!"><i class="material-icons">shopping_cart</i></a>
                                    <a href="#!" id="star"><i class="material-icons">star</i></a>
                                    <a href="#!"><i class="material-icons">share</i></a>
                                </div>
                            </div>
                        </div>
                        <!-- BOTTOM-UP SOCIAL -->

                        <!-- ZOOM, BLUR, DIM -->
                        <div class="col s12 l4">
                            <!-- <div class="card special zoom">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                                </div>
                            </div> -->
                            <!-- <div class="card special blur">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                                </div>
                            </div> -->
                            <div class="card special dim">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample15.jpg" alt="image">
                                </div>
                            </div>
                        </div>
                        <!-- ZOOM, BLUR, DIM -->

                        <!-- SLIDER -->
                        <div class="col s12 l4">
                            <div class="card with-slider">
                                <div class="navigation">
                                    <i class="material-icons" id="left">keyboard_arrow_left</i>
                                    <i class="material-icons" id="right">keyboard_arrow_right</i>
                                </div>
                                <div class="wrapper">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample1.jpg" alt="image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample2.jpg" class="hide" alt="image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" class="hide" alt="image">
                                </div>
                            </div>
                        </div>
                        <!-- SLIDER -->

                        
                        <!-- BOTTOM-UP SOCIAL -->
                        <div class="col s12 l4">
                            <div class="card special soft-fade">
                                <div class="card-image">
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample20.jpg" alt="image20">
                                </div>
                                <div class="hover-cover">
                                    <h5>Hailey Baldwin</h5>
                                    <p>Love for life</p>
                                </div>
                            </div>
                        </div>
                        <!-- BOTTOM-UP SOCIAL -->
                    </div>
                    </div>
                </div>
            </section>
        </main>


        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <script src="./js/cards.js"></script>
    </body>
</html>