<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <title>ero °6</title>

        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="../css/extended_materialize.css">
        <link rel="stylesheet" href="./css/hero.css">
        <link rel="stylesheet" href="../css/footer.css">
    </head>

    <body>
        <div class="navbar-fixed">
            <nav class="red darken-1">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="#" class="brand-logo">Shop</a>
                        <ul id="nav-mobile" class="hide-on-med-and-down right">
                            <li><a href="#!">Boutique</a></li>
                            <li><a href="#apropos">A propos</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <main>
            <!-- HERO -->
            <div class="hero red darken-3">
                <div class="hero-wrapper">
                    <div class="call-to-action">
                        <div class="lead">Materialize for startups</div>
                        <div class="lead-subtitle">Templates for prototyping</div>
                        <a href="#apropos" class="btn-large red darken-1 scrollspy">Explore</a>
                    </div>
                </div>
            </div>

            <!-- ICONS -->
            <section class="section section-icons grey lighten-4 center scrollspy" id="apropos">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">room</i>
                                <h4>Pick Where</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">store</i>
                                <h4>Travel Shop</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="card-panel">
                                <i class="material-icons large red-text">airplanemode_active</i>
                                <h4>Fly Cheap</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem, velit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="row">
                        <h4 class="center">Produits phare</h4>
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="test">
                                    <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quae vero dolorem molestiae suscipit minus.
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="test">
                                    <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quae vero dolorem molestiae suscipit minus.
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="test">
                                    <span class="card-title">Card Title</span>
                                </div>
                                <div class="card-content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                    Quae vero dolorem molestiae suscipit minus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section section-contact scrollspy" id="contact">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6">
                            <div class="card-panel red darken-1 white-text center">
                                <i class="material-icons medium">email</i>
                                <h5>Contact Us For Booking</h5>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus sed praesentium delectus.
                                    Sit, mollitia
                                    quo. Veniam repellat voluptas ipsum doloremque?</p>
                            </div>
                            <ul class="collection with-header">
                                <li class="collection-header">
                                    <h4>Location</h4>
                                </li>
                                <li class="collection-item">Travelville Agency</li>
                                <li class="collection-item">555 Beach rd, Suite 33</li>
                                <li class="collection-item">Miami FL, 55555</li>
                            </ul>
                        </div>
                        <div class="col s12 m6">
                            <div class="card-panel grey lighten-3">
                                <h5>Please fill out this form</h5>
                                <div class="input-field">
                                    <input type="text" placeholder="Name" id="name">
                                    <label for="name">Name</label>
                                </div>
                                <div class="input-field">
                                    <input type="email" placeholder="Email" id="email">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field">
                                    <input type="text" placeholder="Phone" id="phone">
                                    <label for="phone">Phone</label>
                                </div>
                                <div class="input-field">
                                    <textarea class="materialize-textarea" placeholder="Enter Message" id="message"></textarea>
                                    <label for="message">Message</label>
                                </div>
                                <input type="submit" value="Submit" class="btn red darken-1">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
        </main>

        <!-- FOOTER -->
        <footer class="page-footer red darken-3">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Entreprise</h5>
                        <p><a href="#!" target="_blank">Diffuser une offre</a></p>
                        <p><a href="#!" target="_blank">Lancer sa boîte</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Candidat</h5>
                        <p><a href="#!" target="_blank">Candidater à une offre</a></p>
                        <p><a href="#!" target="_blank">Chercher des offres</a></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>Contact</h5>
                        <div id="contact">
                            <p>
                                <i class="material-icons">map</i>
                                <a href="https://www.google.com/maps/?q=165 avenue de Bretagne" target="_blank" rel="noopener noreferrer">Avenue de Bretagne</a>
                            </p>
                            <p>
                                <i class="material-icons">phone</i><a href="tel:+330655346698">0655346698</a>
                            </p>
                            <p>
                                <i class="material-icons">email</i><a href="mailto:contact.kurrikulam@gmail.com">contact.kurrikulam@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                2019 @entreprise
            </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="hero.js"></script>
    </body>
</html>