<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Service client</title>

        <!-- Google stylesheets -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel="stylesheet" href="../css/fonts.css">
        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="./css/ecommerce_customer_service.css">
    </head>
    <body>
        <main>
            <section class="customer_service">
                <div class="services">
                    <div class="service animate">
                        <div class="wrapper">
                            <i class="material-icons">check</i>
                            <div class="text">Problème sur une commande</div>
                        </div>
                    </div>
                    <div class="service">B</div>
                    <div class="service">C</div>
                    <div class="service">D</div>
                    <div class="service">E</div>
                </div>
            </section>
        </main>

        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <!-- Materialize scripts -->

        <script>
            $(document).ready(function(){
                // Sidenav
                $('.sidenav').sidenav();
                // Scrollspy
                $('.scrollspy').scrollSpy();
                // Select
                $('select').formSelect();
                // Modals
                $('.modal').modal();
            });
        </script>
    </body>
</html>