.ecommerce.container {
  margin: 0;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section {
    padding-top: 0;
  }
}

@media only screen and (min-width: 993px) {
  .ecommerce.container .section {
    padding-top: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .side-images {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.ecommerce.container .section #product .product-grid .side-images .counter {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.14);
  color: rgba(255, 255, 255, 0.5);
  top: 120px;
  right: 15px;
  border-radius: 10%;
  text-align: center;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.ecommerce.container .section #product .product-grid .side-images .counter span {
  display: block;
  padding: .25rem;
  height: 30px;
  width: 50px;
}

.ecommerce.container .section #product .product-grid .side-images .images img {
  height: auto;
  width: 100%;
}

.ecommerce.container .section #product .product-grid .side-images .information {
  padding: 1rem;
}

.ecommerce.container .section #product .product-grid .side-images .information h1 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos {
  padding: 0 0 .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price.discounted {
  color: #ee6e73;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section #product .product-grid .side-images .information .infos {
    margin-top: .75rem;
    margin-bottom: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .side-images .information h2 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos {
  padding: 0 0 .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price.discounted {
  color: #ee6e73;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section #product .product-grid .side-images .information .infos {
    margin-top: .75rem;
    margin-bottom: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .side-images .information h3 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos {
  padding: 0 0 .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price.discounted {
  color: #ee6e73;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section #product .product-grid .side-images .information .infos {
    margin-top: .75rem;
    margin-bottom: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .side-images .information h4 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos {
  padding: 0 0 .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price.discounted {
  color: #ee6e73;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section #product .product-grid .side-images .information .infos {
    margin-top: .75rem;
    margin-bottom: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .side-images .information h5 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos {
  padding: 0 0 .25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .price.discounted {
  color: #ee6e73;
}

.ecommerce.container .section #product .product-grid .side-images .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

@media only screen and (min-width: 301px) {
  .ecommerce.container .section #product .product-grid .side-images .information .infos {
    margin-top: .75rem;
    margin-bottom: 1rem;
  }
}

.ecommerce.container .section #product .product-grid .details {
  padding: 1rem;
}

.ecommerce.container .section #product .product-grid .details .detail h1 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ecommerce.container .section #product .product-grid .details .detail h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ecommerce.container .section #product .product-grid .details .detail h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ecommerce.container .section #product .product-grid .details .detail h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ecommerce.container .section #product .product-grid .details .detail h5 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.ecommerce.container .section #more {
  padding: 1rem;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
/*# sourceMappingURL=ecommerce_mobile_grid.css.map */