.section.ecommerce#product .details, .section.ecommerce#product .more, section.ecommerce-grid .container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .section.ecommerce#product .details, .section.ecommerce#product .more, section.ecommerce-grid .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .section.ecommerce#product .details, .section.ecommerce#product .more, section.ecommerce-grid .container {
    width: 70%;
  }
}

.section.ecommerce#product .product, .section.ecommerce#product .details {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.card-link {
  color: inherit;
}

.section.ecommerce#product hr.section-separation {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.section.ecommerce#product .product .side-images img {
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
  cursor: pointer;
}

.section.ecommerce#product .product .side-images img:hover {
  opacity: .5;
}

.section.ecommerce#product .product .breadcrumbs a {
  color: inherit;
}

.section.ecommerce#product .product .breadcrumbs .breadcrumb {
  font-size: 12px;
}

.section.ecommerce#product .product .breadcrumbs .breadcrumb:before {
  vertical-align: middle;
  color: black;
}

.section.ecommerce#product .product .information h1 {
  font-size: 22px;
  font-weight: 400;
}

.section.ecommerce#product .product .information h2 {
  font-size: 22px;
  font-weight: 400;
}

.section.ecommerce#product .product .information h3 {
  font-size: 22px;
  font-weight: 400;
}

.section.ecommerce#product .product .information h4 {
  font-size: 22px;
  font-weight: 400;
}

.section.ecommerce#product .product .information h5 {
  font-size: 22px;
  font-weight: 400;
}

.section.ecommerce#product .product .information .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.section.ecommerce#product .product .information .infos .price {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2.8px;
  line-height: 1.1;
}

.section.ecommerce#product .product .information .infos .price.discounted {
  color: #ee6e73;
}

.section.ecommerce#product .product .information .infos .discounted-price {
  line-height: 2;
  letter-spacing: 0.4px;
  text-decoration: line-through;
  padding-left: 14px;
}

.section.ecommerce#product .product .information .description {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section.ecommerce#product .product .information .coloration, .section.ecommerce#product .product .information .size {
  margin-top: 21px;
}

.section.ecommerce#product .product .information .coloration label, .section.ecommerce#product .product .information .size label {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7;
  vertical-align: baseline;
}

.section.ecommerce#product .product #btn_add_to_cart {
  margin-top: 30px;
}

.section.ecommerce#product .details {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  padding: 1rem;
}

@media only screen and (min-width: 601px) {
  .section.ecommerce#product .details {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 993px) {
  .section.ecommerce#product .details {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.section.ecommerce#product .details .detail h1 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section.ecommerce#product .details .detail h2 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section.ecommerce#product .details .detail h3 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section.ecommerce#product .details .detail h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section.ecommerce#product .details .detail h5 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.section.ecommerce#product .more h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.section.ecommerce#product .more h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.section.ecommerce#product .more h3 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.section.ecommerce#product .more h4 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.section.ecommerce#product .more h5 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.filterbar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 60px;
  padding: 2px;
  color: white;
  background-color: grey;
  cursor: pointer;
}

.filterbar .filter {
  padding: 1rem;
  text-align: center;
}

.filterbar .filter.with-drop {
  z-index: 1;
}

.filterbar .filter.with-drop .drop {
  display: none;
}

.filterbar .filter.with-drop .drop ul {
  position: absolute;
  top: 0;
  left: 34px;
  z-index: 9999;
  background-color: #fff;
  min-width: 170px;
  overflow-y: auto;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.filterbar .filter.with-drop .drop ul li {
  clear: both;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  min-height: 50px;
  line-height: 1.5rem;
  width: 100%;
  text-align: left;
}

.filterbar .filter.with-drop .drop ul li a {
  display: block;
  font-size: 16px;
  color: #26a69a;
  line-height: 22px;
  padding: 14px 16px;
}

.filterbar .filter.with-drawer .drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: white;
  width: 300px;
  z-index: 9999;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  -webkit-transform: translateX(310px);
          transform: translateX(310px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: rgba(0, 0, 0, 0.87);
}

.filterbar .filter.with-drawer .drawer .title {
  display: block;
  height: auto;
  padding: 1rem;
  margin-bottom: 2rem;
}

.filterbar .filter.with-drawer .drawer .title * {
  margin: 0;
}

.filterbar .filter.with-drawer .drawer ul {
  margin-top: 0;
}

.filterbar .filter.with-drawer .drawer ul li {
  font-size: 16px;
  padding: 0 0 0 1rem;
}

.filterbar .filter.with-drawer .drawer ul li button {
  display: block;
  width: 100%;
  height: 50px;
  text-rendering: auto;
  background-color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  text-align: left;
  padding: 0;
}

section.ecommerce-grid .container {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 15px;
}

@media only screen and (min-width: 601px) {
  section.ecommerce-grid .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 993px) {
  section.ecommerce-grid .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

section.ecommerce-grid .card.ecommerce {
  border-radius: 0rem;
}

section.ecommerce-grid .card.ecommerce .card-content {
  padding-left: 0;
}

section.ecommerce-grid .card.ecommerce .title {
  font-size: 14px;
  font-weight: 500;
}

section.ecommerce-grid .price {
  font-weight: 700;
  font-size: 18px;
  margin-top: 1rem;
}

.ecommerce-bar {
  background-color: #c62828;
  margin-bottom: 3rem;
  z-index: -999;
}

.ecommerce-bar ul {
  overflow: hidden;
  margin: 0;
}

.ecommerce-bar ul li {
  float: left;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.ecommerce-bar ul li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ecommerce-bar ul li.best-offers {
  background-color: #66bb6a;
}

.ecommerce-bar ul li.best-offers:hover {
  background-color: rgba(102, 187, 106, 0.5);
}

.ecommerce-bar ul li a {
  display: block;
  color: white;
  padding: 20px;
}
/*# sourceMappingURL=ecommerce.css.map */