<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Produits</title>

        <link rel="stylesheet" href="../css/mat.css">
        <link rel="stylesheet" href="./css/ecommerce_grid.css">
        <link rel="stylesheet" href="./css/ecommerce_bar.css">
        <link rel="stylesheet" href="../code.css">
        <link rel="stylesheet" href="../css/footer.css">
    </head>

    <body>
        <!-- Nav -->
        <div class="navbar-fixed">
            <nav class="grey darken-4">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="#" class="brand-logo">Shop</a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right" id="ecommerce-mobile">
                            <li id="#drawer2"><a><i class="material-icons">search</i></a></li>
                            <li><a href="./cart.html"><i class="material-icons">shopping_cart</i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Ecommerce bar -->
        <div class="ecommerce-bar">
            <div class="container">
                <ul>
                    <li class="best-offers"><a href="./products.html">Promotions</a></li>
                    <li><a href="./products.html">Sacs</a></li>
                    <li><a href="./products.html">Bracelets</a></li>
                </ul>
            </div>
        </div>

        <!-- Promotion banner -->
        <div class="promotion-banner">
            <a href="./products.html">
                <div class="promotion-wrapper">
                    <div class="big-title">
                        <img src="https://content.asos-media.com/-/media/homepages/unisex/homepages/outlet/app/2019-banners/desktop-mob/black_outlet_logo_desktop-v2.png" alt="image1">
                    </div>
                    <div class="presentation">
                        Jusqu'à -15% sur tous les sacs
                    </div>
                    <div class="legal">
                        Pour une durée limitée sur une sélection d’articles seulement. Prix déjà démarqués sur le site.
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Main -->
        <main>
            <div class="ecommerce">
                <!-- Products -->
                <div class="grid" id="products">
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image3.jpg" alt="image3">
                            </div>
                            <div class="details">
                                <div class="title">Jupe en talon</div>
                                <div class="price-details">
                                    <div class="price">245€</div>
                                    <div class="discounted-price">245€</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image3.jpg" alt="image3">
                                <div class="discount-pct grey darken-2">-52%</div>
                            </div>
                            <div class="details">
                                <div class="title">Jupe en talon</div>
                                <div class="price-details">
                                    <div class="price">123€</div>
                                    <div class="discounted-price">245€</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image4.jpg" alt="image3">
                            </div>
                            <div class="details">
                                <div class="title">Jupe en talon</div>
                                <div class="price-details">
                                    <div class="price">385€</div>
                                    <div class="discounted-price">245€</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image3.jpg" alt="image3">
                                <div class="discount-pct grey darken-2">-52%</div>
                            </div>
                            <div class="details">
                                <div class="title">Jupe en talon</div>
                                <div class="price-details">
                                    <div class="price">302€</div>
                                    <div class="discounted-price">132€</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image4.jpg" alt="image3">
                                <div class="discount-pct grey darken-2">-52%</div>
                            </div>
                            <div class="details">
                                <div class="title">Jupe en talon</div>
                                <div class="price-details">
                                    <div class="price">245€</div>
                                    <div class="discounted-price">245€</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="product">
                        <a href="product.html">
                            <div class="image">
                                <img src="../images/image4.jpg" alt="image3">
                            </div>
                            <div class="details">
                                <div class="title">Jupe en cuir de dain sauvetage</div>
                                <div class="price">245€</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <!-- <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4 l4">
                        <h5>Aide et information</h5>
                        <p><a href="" target="_blank">Assistance</a></p>
                        <p><a href="" target="_blank">Suivi commande</a></li></p>
                        <p><a href="" target="_blank">Livraison retour</a></li></p>
                    </div>

                    <div class="col s12 m4 l4">
                        <h5>A propos de Nawoka</h5>
                        <p><a href="" target="_blank">A propos de Nawoka</a></p>
                        <p><a href="" target="_blank">Nawoka recrute</a></p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey darken-1">
                <p> 2019 @ Entreprise</p>
                <a href="{% url 'cgv' %}">Conditions générales</a>
                <a href="{% url 'confidentialite' %}">Confidentialité et cookies</a>
            </div>
        </footer> -->

        <!-- Mini footer -->
        <div class="minimalist-footer grey darken-4">
            <div class="links white-text">
                <a href="#!">Conditions générales</a>
                <a href="#!">Confidentialité</a>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

        <script src="../js/ecommerce.js"></script>
    </body>
</html>